.price{
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  &__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 36px;
  }
  &-article{
    position: relative;
  }
  &-wrap{
    position: relative;
  }
  &-section{
    max-width: 630px;
    &:not(:first-of-type){
      margin-top: 50px;
    }
    &__title{
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 24px;
      line-height: 150%;
      color: rgba(0, 0, 0, 0.75);
    }
    table{
      border-spacing: 0;
      margin-bottom: 50px;
      background: #FFFFFF;
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 20px;
      tr{
        td, th{
          text-align: left;
          padding-right: 18px;
          &:first-child{
            border-right: 1px solid rgba(0, 0, 0, 0.1);
          }
          &:last-child{
            color: #FFA500;
          }
          &:not(:first-child){
            padding-left: 20px;
          }
        }
      }
      thead{
        tr{
          th{
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 16px;
            color: rgba(0, 0, 0, 0.95);
            font-weight: normal;
          }
        }
      }
      tbody{
        tr{
          td{
            padding-top: 23px;
            padding-bottom: 23px;
            font-size: 14px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.75);
          }
        }
      }
    }
    p {
      font-size: 20px;
      line-height: 150%;
      color: rgba(0, 0, 0, 0.75);
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  &-aside{
    margin: 0 auto;
    position: fixed;
    left: 75%;
    transform: translateX(-50%);
    align-self: flex-start;
    &__title{
      margin-bottom: 16px;
      font-weight: bold;
      font-size: 16px;
      line-height: 150%;
      color: rgba(0, 0, 0, 0.75);
      svg{
        display: none;
      }
    }
    ul{
      li{
        &:hover:not(.active){
          @media screen and (min-width: 1024px) {
            a{
              color: #FFA500;
            }
          }
        }
        &.active{
          position: relative;
          &:after{
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 50%;
            position: absolute;
            bottom: -4px;
            left: calc(50% - 2px); 
            z-index: 10;
            background-color: #FFA500;
          }
        }
        &:not(:last-child){
          margin-bottom: 11px;
        }
        a{
          font-size: 16px;
          line-height: 125%;
          color: #47657A;
          transition: .3s;
        }
      }
    }
  }
}


@include w768{
  .price{
    &__title{}
    &-wrap{}
    &-article{}
    &-section{
      max-width: none;
      &__title{}
      table{}
      &__title{

      }
      p{
        font-size: 18px;
        line-height: 125%;
      }
    }
    &-aside{
      position: static;
      transform: none;
      display: inline-block;
      &.active{
        svg{
          transform: rotate(180deg);
        }
      }
      &__title{
        display: inline-block;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 125%;
        justify-content: flex-start;
        svg{
          display: block;
          transform-origin: center center;
          transition: .3s;
          margin-left: 10px;
        }
      }
      ul{
        position: absolute;
        background-color: white;
        border-radius: 10px;
        z-index: 5;
        padding: 10px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
        display: none;
      }
    }
  }
}


@include w480{
  .price{
    &__title{
      font-size: 24px;
      line-height: 150%;
    }
    &-section{
      .table-wrap{
        overflow-x: auto;
        margin: 0 -20px;
      }
      table{
        tr{
          th, td{
            white-space: nowrap;
          }
        }
      }
      &:not(:first-of-type){
        margin-top: 0;
      }
      p{
        font-size: 16px;
        line-height: 125%;
      }
      &__title{
        font-size: 20px;
        line-height: 150%;
      }
    }
  }
}