extends ../common/main.pug  
block title
  | Доска проектов
block content
  .tasks
    .tasks-top
      a(href="#tab1").tasks-top__title Проекты
      a(href="#tab2").tasks-top__title Проекты
      a(href="#tab3").tasks-top__title Проекты
    .tasks-main(id="tab1")
      .tasks-main-item
        .tasks-main-item-projectImage
          .tasks-main-item-projectImage_default
            <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="39" cy="39" r="39" fill="#6E1866" fill-opacity="0.2"/>
              <path d="M37.3379 51.6486H29.7488L23.943 40.9858H21.7422V51.6486H15.3672V24.7829H25.6127C26.9787 24.7829 28.2436 24.922 29.4072 25.2003C30.5709 25.4786 31.6587 25.9213 32.6706 26.5284C33.6825 27.1356 34.4667 27.983 35.0232 29.0708C35.6051 30.1586 35.896 31.4361 35.896 32.9033C35.896 34.6742 35.4027 36.192 34.4161 37.4569C33.4295 38.7217 32.0635 39.6198 30.318 40.151L37.3379 51.6486ZM29.4831 33.0172C29.4831 31.0187 28.0412 30.0195 25.1573 30.0195H21.7042V36.2805H24.7778C27.9147 36.2805 29.4831 35.1927 29.4831 33.0172Z" fill="#6E1866"/>
              <path d="M65.9525 51.6486H58.7427L56.6557 46.3742H46.2585L44.2853 51.6486H37.2274L48.4973 24.7829H54.7963L65.9525 51.6486ZM54.8722 41.1756L51.533 31.9547L48.1179 41.1756H54.8722Z" fill="#6E1866"/>
            </svg>
          .tasks-main-item-projectImage_custom
            img(src="", alt="")
        .tasks-main-item-afterImage
          p.tasks-main-item-afterImage__name Усадьба в Петергофе
          .tasks-main-item-afterImage__status
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="5" fill="#219653"/></svg>
            | Активен
        .tasks-main-item-centerFlex
          p.tasks-main-item-centerFlex__title Этап проекта
          p.tasks-main-item-centerFlex__text 3. Дизайн
        .tasks-main-item-centerFlex
          p.tasks-main-item-centerFlex__title Срок этапа
          p.tasks-main-item-centerFlex__text 12.12.2019
        .tasks-main-item-centerFlex
          p.tasks-main-item-centerFlex__title Срок проекта
          p.tasks-main-item-centerFlex__text 12.12.2020
        a(href="#").tasks-main-item__btn Подробнее
      .tasks-main-item
        .tasks-main-item-projectImage
          .tasks-main-item-projectImage_default
            <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="39" cy="39" r="39" fill="#6E1866" fill-opacity="0.2"/>
              <path d="M37.3379 51.6486H29.7488L23.943 40.9858H21.7422V51.6486H15.3672V24.7829H25.6127C26.9787 24.7829 28.2436 24.922 29.4072 25.2003C30.5709 25.4786 31.6587 25.9213 32.6706 26.5284C33.6825 27.1356 34.4667 27.983 35.0232 29.0708C35.6051 30.1586 35.896 31.4361 35.896 32.9033C35.896 34.6742 35.4027 36.192 34.4161 37.4569C33.4295 38.7217 32.0635 39.6198 30.318 40.151L37.3379 51.6486ZM29.4831 33.0172C29.4831 31.0187 28.0412 30.0195 25.1573 30.0195H21.7042V36.2805H24.7778C27.9147 36.2805 29.4831 35.1927 29.4831 33.0172Z" fill="#6E1866"/>
              <path d="M65.9525 51.6486H58.7427L56.6557 46.3742H46.2585L44.2853 51.6486H37.2274L48.4973 24.7829H54.7963L65.9525 51.6486ZM54.8722 41.1756L51.533 31.9547L48.1179 41.1756H54.8722Z" fill="#6E1866"/>
            </svg>
          .tasks-main-item-projectImage_custom
            img(src="", alt="")
        .tasks-main-item-afterImage
          p.tasks-main-item-afterImage__name Усадьба в Петергофе
          .tasks-main-item-afterImage__status
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="5" fill="#219653"/></svg>
            | Активен
        .tasks-main-item-centerFlex
          p.tasks-main-item-centerFlex__title Этап проекта
          p.tasks-main-item-centerFlex__text 3. Дизайн
        .tasks-main-item-centerFlex
          p.tasks-main-item-centerFlex__title Срок этапа
          p.tasks-main-item-centerFlex__text 12.12.2019
        .tasks-main-item-centerFlex
          p.tasks-main-item-centerFlex__title Срок проекта
          p.tasks-main-item-centerFlex__text 12.12.2020
        a(href="#").tasks-main-item__btn Подробнее
    .tasks-main(id="tab2")
      .tasks-main-item
        .tasks-main-item-projectImage
          .tasks-main-item-projectImage_default
            <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="39" cy="39" r="39" fill="#6E1866" fill-opacity="0.2"/>
              <path d="M37.3379 51.6486H29.7488L23.943 40.9858H21.7422V51.6486H15.3672V24.7829H25.6127C26.9787 24.7829 28.2436 24.922 29.4072 25.2003C30.5709 25.4786 31.6587 25.9213 32.6706 26.5284C33.6825 27.1356 34.4667 27.983 35.0232 29.0708C35.6051 30.1586 35.896 31.4361 35.896 32.9033C35.896 34.6742 35.4027 36.192 34.4161 37.4569C33.4295 38.7217 32.0635 39.6198 30.318 40.151L37.3379 51.6486ZM29.4831 33.0172C29.4831 31.0187 28.0412 30.0195 25.1573 30.0195H21.7042V36.2805H24.7778C27.9147 36.2805 29.4831 35.1927 29.4831 33.0172Z" fill="#6E1866"/>
              <path d="M65.9525 51.6486H58.7427L56.6557 46.3742H46.2585L44.2853 51.6486H37.2274L48.4973 24.7829H54.7963L65.9525 51.6486ZM54.8722 41.1756L51.533 31.9547L48.1179 41.1756H54.8722Z" fill="#6E1866"/>
            </svg>
          .tasks-main-item-projectImage_custom
            img(src="", alt="")
        .tasks-main-item-afterImage
          p.tasks-main-item-afterImage__name Усадьба в Петергофе
          .tasks-main-item-afterImage__status
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="5" fill="#219653"/></svg>
            | Активен
        .tasks-main-item-centerFlex
          p.tasks-main-item-centerFlex__title Этап проекта
          p.tasks-main-item-centerFlex__text 3. Дизайн
        .tasks-main-item-centerFlex
          p.tasks-main-item-centerFlex__title Срок этапа
          p.tasks-main-item-centerFlex__text  
        .tasks-main-item-centerFlex
          p.tasks-main-item-centerFlex__title Срок проекта
          p.tasks-main-item-centerFlex__text 12.12.2020
        a(href="#").tasks-main-item__btn Подробнее
    .tasks-main(id="tab3")
      .tasks-main-item
        .tasks-main-item-projectImage
          .tasks-main-item-projectImage_default
            <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="39" cy="39" r="39" fill="#6E1866" fill-opacity="0.2"/>
              <path d="M37.3379 51.6486H29.7488L23.943 40.9858H21.7422V51.6486H15.3672V24.7829H25.6127C26.9787 24.7829 28.2436 24.922 29.4072 25.2003C30.5709 25.4786 31.6587 25.9213 32.6706 26.5284C33.6825 27.1356 34.4667 27.983 35.0232 29.0708C35.6051 30.1586 35.896 31.4361 35.896 32.9033C35.896 34.6742 35.4027 36.192 34.4161 37.4569C33.4295 38.7217 32.0635 39.6198 30.318 40.151L37.3379 51.6486ZM29.4831 33.0172C29.4831 31.0187 28.0412 30.0195 25.1573 30.0195H21.7042V36.2805H24.7778C27.9147 36.2805 29.4831 35.1927 29.4831 33.0172Z" fill="#6E1866"/>
              <path d="M65.9525 51.6486H58.7427L56.6557 46.3742H46.2585L44.2853 51.6486H37.2274L48.4973 24.7829H54.7963L65.9525 51.6486ZM54.8722 41.1756L51.533 31.9547L48.1179 41.1756H54.8722Z" fill="#6E1866"/>
            </svg>
          .tasks-main-item-projectImage_custom
            img(src="", alt="")
        .tasks-main-item-afterImage
          p.tasks-main-item-afterImage__name Усадьба в Петергофе
          .tasks-main-item-afterImage__status
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="5" fill="#219653"/></svg>
            | Активен
        .tasks-main-item-centerFlex
          p.tasks-main-item-centerFlex__title Этап проекта
          p.tasks-main-item-centerFlex__text 3. Дизайн
        .tasks-main-item-centerFlex
          p.tasks-main-item-centerFlex__title Срок этапа
          p.tasks-main-item-centerFlex__text 12.12.2019
        .tasks-main-item-centerFlex
          p.tasks-main-item-centerFlex__title Срок проекта
          p.tasks-main-item-centerFlex__text 12.12.2020
        a(href="#").tasks-main-item__btn Подробнее
    
