header.header
  a(href="index.html").header-logo
    img(src="assets/images/logo.svg", alt="ГК Паруса").header-logo__img
  .header-production
    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="1.25" cy="1.25" r="1.25" fill="url(#paint0_linear)"/>
      <circle cx="16.25" cy="1.25" r="1.25" fill="url(#paint0_linear)"/>
      <circle cx="8.75" cy="1.25" r="1.25" fill="url(#paint0_linear)"/>
      <circle cx="1.25" cy="16.25" r="1.25" fill="url(#paint0_linear)"/>
      <circle cx="16.25" cy="16.25" r="1.25" fill="url(#paint0_linear)"/>
      <circle cx="8.75" cy="16.25" r="1.25" fill="url(#paint0_linear)"/>
      <circle cx="1.25" cy="8.75" r="1.25" fill="url(#paint0_linear)"/>
      <circle cx="16.25" cy="8.75" r="1.25" fill="url(#paint0_linear)"/>
      <circle cx="8.75" cy="8.75" r="1.25" fill="url(#paint0_linear)"/>
    </svg>
    <svg width="18" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 16.5L9.5 9M17 1.5L9.5 9M9.5 9L17 16.5M9.5 9L2 1.5" stroke="url(#paint0_linear)" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    p Продукция
  .header-productionBlock
    .header-productionBlock-wrap
      .header-productionBlock-item
        .header-productionBlock-item-imgbox
          img(src="assets/images/prod-flag.png", alt="").header-productionBlock-item-imgbox__img
        .header-productionBlock-item-desc
          p.header-productionBlock-item-desc__title Флаги <br>и флагштоки
          a(href="flags.html").general__btn.header-productionBlock-item-desc__btn от 300 руб
      .header-productionBlock-item
        .header-productionBlock-item-imgbox
          img(src="assets/images/prod-scenes.png", alt="").header-productionBlock-item-imgbox__img
        .header-productionBlock-item-desc
          p.header-productionBlock-item-desc__title Подиумы <br>и сцены
          a(href="scene.html").general__btn.header-productionBlock-item-desc__btn от 300 руб
      .header-productionBlock-item
        .header-productionBlock-item-imgbox 
          img(src="assets/images/prod-presswall.png", alt="").header-productionBlock-item-imgbox__img
        .header-productionBlock-item-desc 
          p.header-productionBlock-item-desc__title Пресс-волл
          a(href="presswall.html").general__btn.header-productionBlock-item-desc__btn от 300 руб
      .header-productionBlock-item
        .header-productionBlock-item-imgbox
          img(src="assets/images/prod-events.png", alt="").header-productionBlock-item-imgbox__img
        .header-productionBlock-item-desc
          p.header-productionBlock-item-desc__title Оформление <br>мероприятий
          a(href="#").general__btn.header-productionBlock-item-desc__btn от 300 руб
      .header-productionBlock-item
        .header-productionBlock-item-imgbox
          img(src="assets/images/prod-print.png", alt="").header-productionBlock-item-imgbox__img
        .header-productionBlock-item-desc
          p.header-productionBlock-item-desc__title Печатное <br>производство
          a(href="#").general__btn.header-productionBlock-item-desc__btn от 300 руб
  nav.header-linklist
    .header-linklist-wrap
      a(href="about.html").header-linklist__link О компании
      a(href="#").header-linklist__link Услуги
      a(href="portfolio.html").header-linklist__link Портфолио
      a(data-modal="modal-quality" href="#").header-linklist__link Контроль качества
      a(href="#").header-linklist__link Контакты
      a(href="#").header-linklist__link Заказ расчета
  .header-right
    a(href="tel: +7 (812) 564-33-21").header-right__phone 
      p +7 (812) 564-33-21
      <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.5 1.4375C11.1182 1.4375 14.0625 4.38184 14.0625 8C14.0625 11.6182 11.1182 14.5625 7.5 14.5625C3.88184 14.5625 0.9375 11.6182 0.9375 8C0.9375 4.38184 3.88184 1.4375 7.5 1.4375ZM7.5 0.5C3.35815 0.5 0 3.85815 0 8C0 12.1418 3.35815 15.5 7.5 15.5C11.6418 15.5 15 12.1418 15 8C15 3.85815 11.6418 0.5 7.5 0.5ZM11.6812 10.5076L11.6391 10.3795C11.5402 10.0847 11.2143 9.77706 10.914 9.69465L9.80531 9.3916C9.50502 9.31013 9.07655 9.41999 8.85595 9.64062L8.45493 10.0416C6.99741 9.64704 5.85393 8.50356 5.46023 7.04604L5.86125 6.64502C6.08098 6.42529 6.19084 5.99683 6.10937 5.69562L5.8072 4.58691C5.72572 4.28662 5.41626 3.96069 5.12147 3.86182L4.99512 3.81969C4.69939 3.72081 4.27734 3.8206 4.05762 4.04126L3.45703 4.64185C3.34992 4.74805 3.28125 5.05385 3.28125 5.05385C3.26109 6.95999 4.00819 8.79562 5.35585 10.1442C6.69984 11.4882 8.52908 12.2344 10.4288 12.2178C10.4389 12.2178 10.7529 12.151 10.86 12.0439L11.4606 11.4433C11.6803 11.2245 11.7792 10.8024 11.6812 10.5076Z" fill="black"/>
      </svg>
    .header-right__burger
      span
      span
      span