.itemBanner
  .itemBanner-desc
    h1.itemBanner-desc__title #{banner__title}
    p.itemBanner-desc__text #{banner__text}
    .itemBanner-desc-info
      .itemBanner-desc-info__item
        img(src="assets/images/price.svg", alt="prive").itemBanner-desc-info__item__img
        p.itemBanner-desc-info__item__text От 2500 руб
      .itemBanner-desc-info__item
        img(src="assets/images/time.svg", alt="").itemBanner-desc-info__item__img
        p.itemBanner-desc-info__item__text От 1 рабочего дня
      .itemBanner-desc-info__item
        img(src="assets/images/lin.svg", alt="").itemBanner-desc-info__item__img
        p.itemBanner-desc-info__item__text 2х2 м, 2,5х3 м, 3х4 м
    a(href="#").general__btn Заказать расчет
  .itemBanner-imgbox(style="background-image: url(" + background__url + ")")
  .itemBanner-social
    a(href="#").itemBanner-social__link
      img(src="assets/images/vk.svg", alt="vk")
    a(href="#").itemBanner-social__link
      img(src="assets/images/inst.svg", alt="vk")
  .itemBanner-nextScreen
    <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.64645 10.3536C3.84171 10.5488 4.15829 10.5488 4.35355 10.3536L7.53553 7.17157C7.7308 6.97631 7.7308 6.65973 7.53553 6.46447C7.34027 6.2692 7.02369 6.2692 6.82843 6.46447L4 9.29289L1.17157 6.46447C0.97631 6.2692 0.659728 6.2692 0.464466 6.46447C0.269204 6.65973 0.269204 6.97631 0.464466 7.17157L3.64645 10.3536ZM3.5 -2.18556e-08L3.5 10L4.5 10L4.5 2.18556e-08L3.5 -2.18556e-08Z" fill="black" fill-opacity="0.5"/>
    </svg>
    | Смотреть дальше