.ourClients
  h4.ourClients__title Наши клиенты
  .ourClients-wrap
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    .ourClients-wrap__item
      img(src="assets/images/lamba.png", alt="")
    
