.ourWorks
  h4.ourWorks__title Наши работы
  .ourWorks-wrap
    .ourWorks-wrap-arrows
      .ourWorks-wrap-arrows__prev
        img(src="assets/images/arr-slider.svg", alt="")
      .ourWorks-wrap-arrows__next
        img(src="assets/images/arr-slider.svg", alt="")
    .ourWorks-slider
      .ourWorks-slider__item 
        img(src="assets/images/works.png", alt="")
      .ourWorks-slider__item 
        img(src="assets/images/works.png", alt="")
      .ourWorks-slider__item 
        img(src="assets/images/works.png", alt="")