.whywe
  h4.whywe__title Почему стоит заказать Press&nbsp;Wall именно у нас?
  .whywe-wrap
    .whywe-wrap-arrows
      .whywe-wrap-arrows__prev
        img(src="assets/images/whyWe-arrow.svg", alt="")
      .whywe-wrap-arrows__next
        img(src="assets/images/whyWe-arrow.svg", alt="")
    .whywe-wrap-slider
      .whywe-wrap-slider-item
        .whywe-wrap-slider-item-left
          h6.whywe-wrap-slider-item-left__title Быстрый и точный расчет
          span.whywe-wrap-slider-item-left__num 01
          p.whywe-wrap-slider-item-left__text Расчет происходит в течение одного часа после отправки заявки, счет высылается на e-mail
        .whywe-wrap-slider-item-right
          img(src="assets/images/mokup.png", alt="").whywe-wrap-slider-item-right__img
      .whywe-wrap-slider-item
        .whywe-wrap-slider-item-left
          h6.whywe-wrap-slider-item-left__title Быстрый и точный расчет
          span.whywe-wrap-slider-item-left__num 02
          p.whywe-wrap-slider-item-left__text Расчет происходит в течение одного часа после отправки заявки, счет высылается на e-mail
        .whywe-wrap-slider-item-right
          img(src="assets/images/mokup.png", alt="").whywe-wrap-slider-item-right__img
      .whywe-wrap-slider-item
        .whywe-wrap-slider-item-left
          h6.whywe-wrap-slider-item-left__title Быстрый и точный расчет
          span.whywe-wrap-slider-item-left__num 03
          p.whywe-wrap-slider-item-left__text Расчет происходит в течение одного часа после отправки заявки, счет высылается на e-mail
        .whywe-wrap-slider-item-right
          img(src="assets/images/mokup.png", alt="").whywe-wrap-slider-item-right__img