footer.footer
	.footer-wrap
		.footer-col
			a.footer-logo(href="/")
				<svg width="74" height="25" viewBox="0 0 74 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M56.0342 0.812063V3.10337C56.0342 3.69741 56.2909 4.29144 56.8043 4.63089L66.6443 11.9291C67.0721 12.1837 67.0721 12.8626 66.6443 13.1172L56.8043 20.4154C56.2909 20.7548 56.0342 21.3489 56.0342 21.9429V24.2342C56.0342 24.8283 56.7187 25.2526 57.2321 24.8283L72.8905 13.202C73.4039 12.8626 73.4039 12.0988 72.8905 11.7594L57.2321 0.13317C56.7187 -0.206281 56.0342 0.13316 56.0342 0.812063Z" fill="#393939"/>
					<path d="M57.4541 8.77112L61.6123 11.6979C62.2208 12.0755 62.2208 12.9253 61.6123 13.3029L57.4541 16.2297C56.8455 16.6073 56.0342 16.2297 56.0342 15.5688V9.43199C56.0342 8.7711 56.8455 8.39347 57.4541 8.77112Z" fill="#FFA500"/>
					<path d="M0 12.2312C2.44857 12.3841 4.17697 12.4605 5.1852 12.4605C5.40605 12.4605 5.57889 12.3943 5.70372 12.2618C5.83815 12.1192 5.90536 11.9307 5.90536 11.6963V11.085C5.90536 10.4737 5.6173 10.168 5.04117 10.168H1.58437V8.02834H4.7531C5.32923 8.02834 5.6173 7.72267 5.6173 7.11134V6.80568C5.6173 6.19435 5.32923 5.88868 4.7531 5.88868H0.144033V3.74902H5.47327C6.41428 3.74902 7.10564 3.97827 7.54734 4.43677C7.98905 4.88508 8.2099 5.57283 8.2099 6.50001C8.2099 7.11134 8.07547 7.6106 7.80661 7.99777C7.54735 8.37476 7.20166 8.63967 6.76957 8.7925C7.54735 9.01666 8.07547 9.56686 8.35393 10.4431C8.44995 10.759 8.49796 11.1257 8.49796 11.5435V11.6963C8.49796 12.6948 8.27711 13.4284 7.83541 13.8971C7.39371 14.3658 6.70235 14.6001 5.76133 14.6001C4.15776 14.6001 2.23732 14.4983 0 14.2945V12.2312Z" fill="black" fill-opacity="0.75"/>
					<path d="M18.5752 14.4473H15.9826V7.87551L12.5258 14.4473H9.7892V3.74902H12.3818V10.3208L15.8386 3.74902H18.5752V14.4473Z" fill="black" fill-opacity="0.75"/>
					<path d="M28.9524 8.48684L26.9359 12.3077H24.9194L22.903 8.48684V14.4473H20.3104V3.74902H23.047L25.9277 9.40383L28.8083 3.74902H31.545V14.4473H28.9524V8.48684Z" fill="black" fill-opacity="0.75"/>
					<path d="M42.065 14.4473H39.4724V7.87551L36.0156 14.4473H33.279V3.74902H35.8716V10.3208L39.3284 3.74902H42.065V14.4473Z" fill="black" fill-opacity="0.75"/>
					<path d="M52.5862 14.4473H49.9936V10.0916H46.3928V14.4473H43.8002V3.74902H46.3928V7.95192H49.9936V3.74902H52.5862V14.4473Z" fill="black" fill-opacity="0.75"/>
					<path d="M2.11765 17.2311V17.6771H0.436764V20.7152H0V17.2311H2.11765Z" fill="black" fill-opacity="0.75"/>
					<path d="M4.42317 17.1475C4.89523 17.1475 5.2967 17.324 5.62758 17.6771C5.96287 18.0301 6.13052 18.4622 6.13052 18.9732C6.13052 19.4842 5.96287 19.9162 5.62758 20.2692C5.2967 20.6223 4.89523 20.7988 4.42317 20.7988C3.83641 20.7988 3.39082 20.5433 3.08641 20.0323V22.1088H2.64964V17.2311H3.08641V17.914C3.39082 17.403 3.83641 17.1475 4.42317 17.1475ZM3.46361 19.9557C3.71508 20.2205 4.02391 20.3528 4.39008 20.3528C4.75626 20.3528 5.06508 20.2205 5.31655 19.9557C5.56802 19.6862 5.69376 19.3587 5.69376 18.9732C5.69376 18.5876 5.56802 18.2624 5.31655 17.9976C5.06508 17.7282 4.75626 17.5935 4.39008 17.5935C4.02391 17.5935 3.71508 17.7282 3.46361 17.9976C3.21214 18.2624 3.08641 18.5876 3.08641 18.9732C3.08641 19.3587 3.21214 19.6862 3.46361 19.9557Z" fill="black" fill-opacity="0.75"/>
					<path d="M9.10986 17.2311H9.57309L8.15692 21.0357C8.02897 21.3795 7.84589 21.6489 7.60765 21.844C7.37383 22.0438 7.11133 22.132 6.82015 22.1088V21.6768C7.21721 21.7232 7.51942 21.4817 7.72677 20.9521L7.8128 20.7361L6.33045 17.2311H6.79368L8.0378 20.1508L9.10986 17.2311Z" fill="black" fill-opacity="0.75"/>
					<path d="M12.8804 17.2311V20.7152H12.4436V17.6771H10.5377V20.7152H10.101V17.2311H12.8804Z" fill="black" fill-opacity="0.75"/>
					<path d="M16.5834 17.2311V20.7152H16.1466V17.6771H14.2408V20.7152H13.804V17.2311H16.5834Z" fill="black" fill-opacity="0.75"/>
					<path d="M20.3526 17.2311H20.7894V20.7152H20.3526V20.0323C20.0482 20.5433 19.6026 20.7988 19.0158 20.7988C18.5438 20.7988 18.1401 20.6223 17.8048 20.2692C17.4739 19.9162 17.3085 19.4842 17.3085 18.9732C17.3085 18.4622 17.4739 18.0301 17.8048 17.6771C18.1401 17.324 18.5438 17.1475 19.0158 17.1475C19.6026 17.1475 20.0482 17.403 20.3526 17.914V17.2311ZM18.1225 19.9557C18.3739 20.2205 18.6828 20.3528 19.0489 20.3528C19.4151 20.3528 19.7239 20.2205 19.9754 19.9557C20.2269 19.6862 20.3526 19.3587 20.3526 18.9732C20.3526 18.5876 20.2269 18.2624 19.9754 17.9976C19.7239 17.7282 19.4151 17.5935 19.0489 17.5935C18.6828 17.5935 18.3739 17.7282 18.1225 17.9976C17.871 18.2624 17.7453 18.5876 17.7453 18.9732C17.7453 19.3587 17.871 19.6862 18.1225 19.9557Z" fill="black" fill-opacity="0.75"/>
					<path d="M26.0421 20.7152H25.4597L23.8053 19.0359V20.7152H23.3685V17.2311H23.8053V18.7711L25.3803 17.2311H25.9759L24.2685 18.9035L26.0421 20.7152Z" fill="black" fill-opacity="0.75"/>
					<path d="M29.0818 20.2762C28.7465 20.6246 28.3362 20.7988 27.8509 20.7988C27.3656 20.7988 26.9531 20.6246 26.6134 20.2762C26.2781 19.9231 26.1105 19.4888 26.1105 18.9732C26.1105 18.4575 26.2781 18.0255 26.6134 17.6771C26.9531 17.324 27.3656 17.1475 27.8509 17.1475C28.3362 17.1475 28.7465 17.324 29.0818 17.6771C29.4215 18.0255 29.5914 18.4575 29.5914 18.9732C29.5914 19.4888 29.4215 19.9231 29.0818 20.2762ZM26.9244 19.9557C27.1759 20.2205 27.4847 20.3528 27.8509 20.3528C28.2171 20.3528 28.5259 20.2205 28.7774 19.9557C29.0289 19.6862 29.1546 19.3587 29.1546 18.9732C29.1546 18.5876 29.0289 18.2624 28.7774 17.9976C28.5259 17.7282 28.2171 17.5935 27.8509 17.5935C27.4847 17.5935 27.1759 17.7282 26.9244 17.9976C26.673 18.2624 26.5472 18.5876 26.5472 18.9732C26.5472 19.3587 26.673 19.6862 26.9244 19.9557Z" fill="black" fill-opacity="0.75"/>
					<path d="M33.5649 17.2311V20.7152H33.1281V17.9349L31.97 19.9139H31.9171L30.759 17.9349V20.7152H30.3222V17.2311H30.8252L31.9436 19.1404L33.0619 17.2311H33.5649Z" fill="black" fill-opacity="0.75"/>
					<path d="M37.27 17.2311V20.7152H36.8332V17.6771H34.9273V20.7152H34.4906V17.2311H37.27Z" fill="black" fill-opacity="0.75"/>
					<path d="M41.0392 17.2311H41.476V20.7152H41.0392V20.0323C40.7348 20.5433 40.2892 20.7988 39.7024 20.7988C39.2304 20.7988 38.8267 20.6223 38.4914 20.2692C38.1605 19.9162 37.9951 19.4842 37.9951 18.9732C37.9951 18.4622 38.1605 18.0301 38.4914 17.6771C38.8267 17.324 39.2304 17.1475 39.7024 17.1475C40.2892 17.1475 40.7348 17.403 41.0392 17.914V17.2311ZM38.8091 19.9557C39.0605 20.2205 39.3694 20.3528 39.7355 20.3528C40.1017 20.3528 40.4105 20.2205 40.662 19.9557C40.9135 19.6862 41.0392 19.3587 41.0392 18.9732C41.0392 18.5876 40.9135 18.2624 40.662 17.9976C40.4105 17.7282 40.1017 17.5935 39.7355 17.5935C39.3694 17.5935 39.0605 17.7282 38.8091 17.9976C38.5576 18.2624 38.4319 18.5876 38.4319 18.9732C38.4319 19.3587 38.5576 19.6862 38.8091 19.9557Z" fill="black" fill-opacity="0.75"/>
					<path d="M44.7434 17.2311H45.1801V20.7152H44.7434V19.1961H42.8375V20.7152H42.4007V17.2311H42.8375V18.7502H44.7434V17.2311Z" fill="black" fill-opacity="0.75"/>
					<path d="M48.5126 17.2311H48.8832V20.7152H48.4464V18.0325L46.4743 20.7152H46.1038V17.2311H46.5405V19.9139L48.5126 17.2311Z" fill="black" fill-opacity="0.75"/>
					<path d="M50.3362 16.6737V16.2695H52.0568V16.6737H50.3362ZM52.2156 17.2311H52.5862V20.7152H52.1494V18.0325L50.1774 20.7152H49.8068V17.2311H50.2436V19.9139L52.2156 17.2311Z" fill="black" fill-opacity="0.75"/>
				</svg>
			.footer__title © 2019 Группа Компаний "Зимин"
			.footer__ra Создание сайта в 
				a(href="https://ra-studio.ru/") RA-Studio
		.footer-col
			.footer-menu
				a.footer-menu__link(href="#") О компании
				a.footer-menu__link(href="#") Каталог
				a.footer-menu__link(href="#") Доставка
				a.footer-menu__link(href="#") Галерея
				a.footer-menu__link(href="#") Контакты
				a.footer-menu__link(href="#") FAQ 
		.footer-col
			.footer-info
				.footer-info-phones
					<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.95133 5.97489C5.68115 7.25704 6.74296 8.31885 8.02511 9.04867L8.71267 8.08578C8.82323 7.93095 8.98672 7.82202 9.17218 7.77959C9.35765 7.73717 9.55223 7.76419 9.71911 7.85556C10.8191 8.45672 12.0339 8.81827 13.2837 8.91644C13.4787 8.9319 13.6608 9.0203 13.7935 9.16403C13.9263 9.30775 14 9.49623 14 9.69189V13.1623C14 13.3549 13.9286 13.5406 13.7996 13.6836C13.6706 13.8266 13.4931 13.9166 13.3016 13.9362C12.8893 13.979 12.474 14 12.0556 14C5.39778 14 0 8.60222 0 1.94444C0 1.526 0.021 1.11067 0.0637778 0.698444C0.0834203 0.506876 0.173432 0.329405 0.316392 0.200382C0.459352 0.0713589 0.645094 -4.15005e-05 0.837667 1.80968e-08H4.30811C4.50377 -2.45144e-05 4.69225 0.0736956 4.83597 0.206462C4.9797 0.339228 5.0681 0.521285 5.08356 0.716333C5.18173 1.96606 5.54328 3.18086 6.14444 4.28089C6.23581 4.44777 6.26283 4.64235 6.22041 4.82782C6.17798 5.01328 6.06905 5.17677 5.91422 5.28733L4.95133 5.97489ZM2.98978 5.46389L4.46756 4.40844C4.04816 3.50318 3.76083 2.54243 3.61433 1.55556H1.56333C1.55867 1.68467 1.55633 1.81456 1.55633 1.94444C1.55556 7.74356 6.25644 12.4444 12.0556 12.4444C12.1854 12.4444 12.3153 12.4421 12.4444 12.4367V10.3857C11.4576 10.2392 10.4968 9.95184 9.59156 9.53244L8.53611 11.0102C8.11118 10.8451 7.69845 10.6502 7.301 10.4269L7.25589 10.4012C5.73034 9.533 4.467 8.26966 3.59878 6.74411L3.57311 6.699C3.34982 6.30155 3.15489 5.88882 2.98978 5.46389Z" fill="black" fill-opacity="0.75"/>
					</svg>
					.footer-info-phones-items
						a(href="tel:89219759844") +7 (921) 975-98-44
				.footer-info-address
					<svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M5.09098 10.4904L7.79111 7.79092C8.32503 7.2569 8.68862 6.57656 8.83589 5.83591C8.98317 5.09526 8.90752 4.32758 8.6185 3.62993C8.32949 2.93227 7.8401 2.33598 7.21221 1.91646C6.58432 1.49694 5.84613 1.27302 5.09098 1.27302C4.33583 1.27302 3.59764 1.49694 2.96975 1.91646C2.34186 2.33598 1.85247 2.93227 1.56345 3.62993C1.27444 4.32758 1.19879 5.09526 1.34607 5.83591C1.49334 6.57656 1.85693 7.2569 2.39085 7.79092L5.09098 10.4904ZM8.69094 8.69075L5.09098 12.2907L1.49102 8.69075C0.779063 7.97875 0.29422 7.07163 0.0978048 6.08408C-0.0986104 5.09653 0.00222323 4.07292 0.387555 3.14268C0.772887 2.21244 1.42541 1.41736 2.26261 0.857966C3.09981 0.298574 4.08409 0 5.09098 0C6.09787 0 7.08215 0.298574 7.91935 0.857966C8.75655 1.41736 9.40907 2.21244 9.7944 3.14268C10.1797 4.07292 10.2806 5.09653 10.0842 6.08408C9.88774 7.07163 9.40289 7.97875 8.69094 8.69075ZM0.636374 12.7273H9.54558V14H0.636374V12.7273Z" fill="black" fill-opacity="0.75"/>
					</svg>
					| г. Санкт-Петербург, ул.&nbsp;Оборонная, дом 2
#choose-town.choose-town(style="display: none")
	.choose-town-wrapper
		- for (var x = 0; x < 20; x++)
			a.choose-town__link(href="#") Санкт-Петербург