header.header.visible
	.header-top
		.header-col
			a.header-logo(href="/")
				<svg width="88" height="30" viewBox="0 0 88 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M67.2412 0.974475V3.72404C67.2412 4.43689 67.5492 5.14973 68.1653 5.55707L79.9733 14.3149C80.4867 14.6204 80.4867 15.4351 79.9733 15.7406L68.1653 24.4985C67.5492 24.9058 67.2412 25.6186 67.2412 26.3315V29.0811C67.2412 29.7939 68.0626 30.3031 68.6787 29.7939L87.4688 15.8425C88.0849 15.4351 88.0849 14.5186 87.4688 14.1112L68.6787 0.159804C68.0626 -0.247537 67.2412 0.159792 67.2412 0.974475Z" fill="#393939"/>
					<path d="M68.9451 10.5249L73.9349 14.037C74.6651 14.4901 74.6651 15.5098 73.9349 15.963L68.9451 19.4751C68.2148 19.9283 67.2412 19.4751 67.2412 18.6821V11.3179C67.2412 10.5248 68.2148 10.0717 68.9451 10.5249Z" fill="#FFA500"/>
					<path d="M0 14.6778C2.93828 14.8612 5.01236 14.9529 6.22224 14.9529C6.48726 14.9529 6.69467 14.8734 6.84446 14.7145C7.00578 14.5433 7.08644 14.3171 7.08644 14.0359V13.3023C7.08644 12.5687 6.74076 12.2019 6.0494 12.2019H1.90124V9.63432H5.70372C6.39508 9.63432 6.74076 9.26753 6.74076 8.53393V8.16713C6.74076 7.43353 6.39508 7.06674 5.70372 7.06674H0.17284V4.49915H6.56792C7.69714 4.49915 8.52677 4.77424 9.05681 5.32444C9.58685 5.86241 9.85188 6.68771 9.85188 7.80033C9.85188 8.53393 9.69056 9.13303 9.36793 9.59764C9.05681 10.05 8.642 10.3679 8.12348 10.5513C9.05681 10.8203 9.69056 11.4805 10.0247 12.532C10.1399 12.9111 10.1976 13.3512 10.1976 13.8525V14.0359C10.1976 15.2341 9.93253 16.1144 9.40249 16.6769C8.87245 17.2393 8.04282 17.5205 6.9136 17.5205C4.98931 17.5205 2.68478 17.3982 0 17.1537V14.6778Z" fill="black" fill-opacity="0.75"/>
					<path d="M22.2903 17.3371H19.1792V9.45093L15.031 17.3371H11.747V4.49915H14.8582V12.3853L19.0063 4.49915H22.2903V17.3371Z" fill="black" fill-opacity="0.75"/>
					<path d="M34.7429 10.1845L32.3231 14.7695H29.9033L27.4836 10.1845V17.3371H24.3725V4.49915H27.6564L31.1132 11.2849L34.57 4.49915H37.854V17.3371H34.7429V10.1845Z" fill="black" fill-opacity="0.75"/>
					<path d="M50.478 17.3371H47.3669V9.45093L43.2188 17.3371H39.9348V4.49915H43.0459V12.3853L47.1941 4.49915H50.478V17.3371Z" fill="black" fill-opacity="0.75"/>
					<path d="M63.1035 17.3371H59.9923V12.1102H55.6713V17.3371H52.5602V4.49915H55.6713V9.54263H59.9923V4.49915H63.1035V17.3371Z" fill="black" fill-opacity="0.75"/>
					<path d="M2.54117 20.6777V21.2128H0.524117V24.8586H0V20.6777H2.54117Z" fill="black" fill-opacity="0.75"/>
					<path d="M5.3078 20.5774C5.87427 20.5774 6.35604 20.7892 6.7531 21.2128C7.15545 21.6365 7.35663 22.1549 7.35663 22.7681C7.35663 23.3813 7.15545 23.8998 6.7531 24.3234C6.35604 24.7471 5.87427 24.9589 5.3078 24.9589C4.60369 24.9589 4.06898 24.6523 3.70369 24.0391V26.5309H3.17957V20.6777H3.70369V21.4971C4.06898 20.8839 4.60369 20.5774 5.3078 20.5774ZM4.15633 23.9471C4.4581 24.2649 4.82869 24.4238 5.2681 24.4238C5.70751 24.4238 6.0781 24.2649 6.37986 23.9471C6.68163 23.6238 6.83251 23.2308 6.83251 22.7681C6.83251 22.3054 6.68163 21.9152 6.37986 21.5975C6.0781 21.2742 5.70751 21.1125 5.2681 21.1125C4.82869 21.1125 4.4581 21.2742 4.15633 21.5975C3.85457 21.9152 3.70369 22.3054 3.70369 22.7681C3.70369 23.2308 3.85457 23.6238 4.15633 23.9471Z" fill="black" fill-opacity="0.75"/>
					<path d="M10.9318 20.6777H11.4877L9.7883 25.2432C9.63477 25.6557 9.41506 25.979 9.12918 26.2132C8.84859 26.4529 8.53359 26.5588 8.18418 26.5309V26.0125C8.66065 26.0682 9.0233 25.7784 9.27212 25.1429L9.37536 24.8836L7.59654 20.6777H8.15242L9.64536 24.1813L10.9318 20.6777Z" fill="black" fill-opacity="0.75"/>
					<path d="M15.4564 20.6777V24.8586H14.9323V21.2128H12.6453V24.8586H12.1211V20.6777H15.4564Z" fill="black" fill-opacity="0.75"/>
					<path d="M19.9001 20.6777V24.8586H19.376V21.2128H17.0889V24.8586H16.5648V20.6777H19.9001Z" fill="black" fill-opacity="0.75"/>
					<path d="M24.4231 20.6777H24.9472V24.8586H24.4231V24.0391C24.0578 24.6523 23.5231 24.9589 22.819 24.9589C22.2525 24.9589 21.7681 24.7471 21.3658 24.3234C20.9687 23.8998 20.7702 23.3813 20.7702 22.7681C20.7702 22.1549 20.9687 21.6365 21.3658 21.2128C21.7681 20.7892 22.2525 20.5774 22.819 20.5774C23.5231 20.5774 24.0578 20.8839 24.4231 21.4971V20.6777ZM21.747 23.9471C22.0487 24.2649 22.4193 24.4238 22.8587 24.4238C23.2981 24.4238 23.6687 24.2649 23.9705 23.9471C24.2722 23.6238 24.4231 23.2308 24.4231 22.7681C24.4231 22.3054 24.2722 21.9152 23.9705 21.5975C23.6687 21.2742 23.2981 21.1125 22.8587 21.1125C22.4193 21.1125 22.0487 21.2742 21.747 21.5975C21.4452 21.9152 21.2943 22.3054 21.2943 22.7681C21.2943 23.2308 21.4452 23.6238 21.747 23.9471Z" fill="black" fill-opacity="0.75"/>
					<path d="M31.2505 24.8586H30.5517L28.5664 22.8434V24.8586H28.0423V20.6777H28.5664V22.5256L30.4564 20.6777H31.1711L29.1223 22.6845L31.2505 24.8586Z" fill="black" fill-opacity="0.75"/>
					<path d="M34.8982 24.3318C34.4958 24.7499 34.0034 24.9589 33.4211 24.9589C32.8387 24.9589 32.3437 24.7499 31.9361 24.3318C31.5337 23.9081 31.3326 23.3869 31.3326 22.7681C31.3326 22.1494 31.5337 21.6309 31.9361 21.2128C32.3437 20.7892 32.8387 20.5774 33.4211 20.5774C34.0034 20.5774 34.4958 20.7892 34.8982 21.2128C35.3058 21.6309 35.5096 22.1494 35.5096 22.7681C35.5096 23.3869 35.3058 23.9081 34.8982 24.3318ZM32.3093 23.9471C32.6111 24.2649 32.9817 24.4238 33.4211 24.4238C33.8605 24.4238 34.2311 24.2649 34.5329 23.9471C34.8346 23.6238 34.9855 23.2308 34.9855 22.7681C34.9855 22.3054 34.8346 21.9152 34.5329 21.5975C34.2311 21.2742 33.8605 21.1125 33.4211 21.1125C32.9817 21.1125 32.6111 21.2742 32.3093 21.5975C32.0076 21.9152 31.8567 22.3054 31.8567 22.7681C31.8567 23.2308 32.0076 23.6238 32.3093 23.9471Z" fill="black" fill-opacity="0.75"/>
					<path d="M40.2779 20.6777V24.8586H39.7537V21.5222L38.364 23.897H38.3005L36.9108 21.5222V24.8586H36.3867V20.6777H36.9902L38.3323 22.9688L39.6743 20.6777H40.2779Z" fill="black" fill-opacity="0.75"/>
					<path d="M44.724 20.6777V24.8586H44.1999V21.2128H41.9128V24.8586H41.3887V20.6777H44.724Z" fill="black" fill-opacity="0.75"/>
					<path d="M49.247 20.6777H49.7712V24.8586H49.247V24.0391C48.8817 24.6523 48.347 24.9589 47.6429 24.9589C47.0765 24.9589 46.592 24.7471 46.1897 24.3234C45.7926 23.8998 45.5941 23.3813 45.5941 22.7681C45.5941 22.1549 45.7926 21.6365 46.1897 21.2128C46.592 20.7892 47.0765 20.5774 47.6429 20.5774C48.347 20.5774 48.8817 20.8839 49.247 21.4971V20.6777ZM46.5709 23.9471C46.8726 24.2649 47.2432 24.4238 47.6826 24.4238C48.122 24.4238 48.4926 24.2649 48.7944 23.9471C49.0962 23.6238 49.247 23.2308 49.247 22.7681C49.247 22.3054 49.0962 21.9152 48.7944 21.5975C48.4926 21.2742 48.122 21.1125 47.6826 21.1125C47.2432 21.1125 46.8726 21.2742 46.5709 21.5975C46.2691 21.9152 46.1182 22.3054 46.1182 22.7681C46.1182 23.2308 46.2691 23.6238 46.5709 23.9471Z" fill="black" fill-opacity="0.75"/>
					<path d="M53.692 20.6777H54.2162V24.8586H53.692V23.0357H51.405V24.8586H50.8809V20.6777H51.405V22.5006H53.692V20.6777Z" fill="black" fill-opacity="0.75"/>
					<path d="M58.2151 20.6777H58.6598V24.8586H58.1357V21.6393L55.7692 24.8586H55.3245V20.6777H55.8486V23.897L58.2151 20.6777Z" fill="black" fill-opacity="0.75"/>
					<path d="M60.4035 20.0088V19.5238H62.4682V20.0088H60.4035ZM62.6587 20.6777H63.1035V24.8586H62.5793V21.6393L60.2129 24.8586H59.7682V20.6777H60.2923V23.897L62.6587 20.6777Z" fill="black" fill-opacity="0.75"/>
				</svg>
			a.header-location(data-fancybox="" data-options='{"src": "#choose-town", "touch": false}' href="javascript:;")
				<svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M5.81826 11.989L8.90412 8.90391C9.51432 8.2936 9.92985 7.51607 10.0982 6.66961C10.2665 5.82316 10.18 4.9458 9.84972 4.14849C9.51942 3.35117 8.96011 2.6697 8.24252 2.19024C7.52493 1.71078 6.68129 1.45488 5.81826 1.45488C4.95524 1.45488 4.11159 1.71078 3.394 2.19024C2.67641 2.6697 2.1171 3.35117 1.7868 4.14849C1.45651 4.9458 1.37005 5.82316 1.53836 6.66961C1.70667 7.51607 2.1222 8.2936 2.7324 8.90391L5.81826 11.989ZM9.9325 9.93228L5.81826 14.0465L1.70403 9.93228C0.890357 9.11857 0.336251 8.08186 0.111777 6.95323C-0.112698 5.82461 0.00254084 4.65477 0.44292 3.59164C0.883299 2.52851 1.62904 1.61984 2.58584 0.980533C3.54264 0.341227 4.66753 0 5.81826 0C6.96899 0 8.09388 0.341227 9.05068 0.980533C10.0075 1.61984 10.7532 2.52851 11.1936 3.59164C11.634 4.65477 11.7492 5.82461 11.5247 6.95323C11.3003 8.08186 10.7462 9.11857 9.9325 9.93228ZM0.727285 14.5454H10.9092V16H0.727285V14.5454Z" fill="black" fill-opacity="0.75"/>
				</svg>
				span г. Санкт-Петербург
		.header-menu
			.header-menu-item
				a.header-menu-item__link(href="#") О компании
			.header-menu-item
				a.header-menu-item__link(href="#") Акции
			.header-menu-item.list-item
				a.header-menu-item__link(href="#") Полезное
				.header-menu-item-list
					a.header-menu-item-list__link(href="#") Плюсы и минусы свайно-винтового фундамента
					a.header-menu-item-list__link(href="#") Наши работы
					a.header-menu-item-list__link(href="#") Новости
					a.header-menu-item-list__link(href="#") Блог
					a.header-menu-item-list__link(href="#") Отзывы
			.header-menu-item
				a.header-menu-item__link(href="#") Доставка
			.header-menu-item
				a.header-menu-item__link(href="#") Галерея
			.header-menu-item
				a.header-menu-item__link(href="#") Контакты
			form.header-menu-search(action="#")
				input(type="text" placeholder="Искать")
				button Искать
		.header-col
			.header-phones
				a(href="tel:89219759844")
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M5.65867 6.82844C6.49274 8.29376 7.70624 9.50726 9.17156 10.3413L9.95733 9.24089C10.0837 9.06394 10.2705 8.93945 10.4825 8.89096C10.6945 8.84248 10.9168 8.87336 11.1076 8.97778C12.3647 9.66482 13.7531 10.078 15.1813 10.1902C15.4042 10.2079 15.6123 10.3089 15.764 10.4732C15.9158 10.6374 16 10.8528 16 11.0764V15.0427C16 15.2628 15.9184 15.475 15.771 15.6384C15.6235 15.8018 15.4207 15.9047 15.2018 15.9271C14.7307 15.976 14.256 16 13.7778 16C6.16889 16 0 9.83111 0 2.22222C0 1.744 0.024 1.26933 0.0728889 0.798222C0.0953374 0.579286 0.198208 0.376463 0.361591 0.229008C0.524974 0.0815531 0.73725 -4.74291e-05 0.957333 2.0682e-08H4.92356C5.14717 -2.80165e-05 5.36257 0.0842236 5.52683 0.235956C5.69108 0.387689 5.79211 0.595754 5.80978 0.818667C5.92198 2.24693 6.33518 3.63527 7.02222 4.89244C7.12664 5.08317 7.15752 5.30555 7.10904 5.51751C7.06055 5.72947 6.93606 5.9163 6.75911 6.04267L5.65867 6.82844ZM3.41689 6.24444L5.10578 5.03822C4.62647 4.00364 4.29809 2.90564 4.13067 1.77778H1.78667C1.78133 1.92533 1.77867 2.07378 1.77867 2.22222C1.77778 8.84978 7.15022 14.2222 13.7778 14.2222C13.9262 14.2222 14.0747 14.2196 14.2222 14.2133V11.8693C13.0944 11.7019 11.9964 11.3735 10.9618 10.8942L9.75556 12.5831C9.26992 12.3944 8.79823 12.1716 8.344 11.9164L8.29245 11.8871C6.54896 10.8949 5.10514 9.45104 4.11289 7.70756L4.08356 7.656C3.82836 7.20177 3.60559 6.73008 3.41689 6.24444Z" fill="black" fill-opacity="0.75"/>
					</svg>
				.header-phones-items
					a(href="tel:89219759844") +7 (921) 975-98-44
			.header-burger
				<svg width="18" height="10"fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 9H17" stroke="black" stroke-width="2" stroke-linecap="round"/>
					<path d="M1 1H17" stroke="black" stroke-width="2" stroke-linecap="round"/>
				</svg>
	.header-bot
		.header-bot-item.list-item
			a.header-bot-item__link(href="#") Винтовые сваи
			.header-bot-item-list
				a.header-bot-item-list__link(href="#") Производство
				a.header-bot-item-list__link(href="#") Наши работы
				a.header-bot-item-list__link(href="#") Новости
				a.header-bot-item-list__link(href="#") Блог
				a.header-bot-item-list__link(href="#") Отзывы
		.header-bot-item.list-item
			a.header-bot-item__link(href="#") Фундамент
			.header-bot-item-list
				a.header-bot-item-list__link(href="#") Производство
				a.header-bot-item-list__link(href="#") Наши работы
				a.header-bot-item-list__link(href="#") Новости
				a.header-bot-item-list__link(href="#") Блог
				a.header-bot-item-list__link(href="#") Отзывы
		.header-bot-item.list-item
			a.header-bot-item__link(href="#") Монтаж фундамента
			.header-bot-item-list
				a.header-bot-item-list__link(href="#") Производство
				a.header-bot-item-list__link(href="#") Наши работы
				a.header-bot-item-list__link(href="#") Новости
				a.header-bot-item-list__link(href="#") Блог
				a.header-bot-item-list__link(href="#") Отзывы
		.header-bot-item.list-item
			a.header-bot-item__link(href="#") Ремонт фундамента
			.header-bot-item-list
				a.header-bot-item-list__link(href="#") Производство
				a.header-bot-item-list__link(href="#") Наши работы
				a.header-bot-item-list__link(href="#") Новости
				a.header-bot-item-list__link(href="#") Блог
				a.header-bot-item-list__link(href="#") Отзывы
		.header-bot-item.list-item
			a.header-bot-item__link(href="#") Установка заборов
			.header-bot-item-list
				a.header-bot-item-list__link(href="#") Производство
				a.header-bot-item-list__link(href="#") Наши работы
				a.header-bot-item-list__link(href="#") Новости
				a.header-bot-item-list__link(href="#") Блог
				a.header-bot-item-list__link(href="#") Отзывы
	.header-mobile
		.header-mobile-menu
				.header-mobile-menu-item
					.header-mobile-menu-item__title
						a(href="#") О компании
				.header-mobile-menu-item
					.header-mobile-menu-item__title
						a(href="#") Акции
				.header-mobile-menu-item
					.header-mobile-menu-item__title
						a(href="#") Полезное
						span
					.header-mobile-menu-item-list
						a.header-mobile-menu-item__link(href="#") Плюсы и минусы свайно-винтового фундамента
						a.header-mobile-menu-item__link(href="#") Наши работы
						a.header-mobile-menu-item__link(href="#") Новости
						a.header-mobile-menu-item__link(href="#") Блог
						a.header-mobile-menu-item__link(href="#") Отзывы
				.header-mobile-menu-item
					.header-mobile-menu-item__title
						a(href="#") Доставка
				.header-mobile-menu-item
					.header-mobile-menu-item__title
						a(href="#") Галерея
				.header-mobile-menu-item
					.header-mobile-menu-item__title
						a(href="#") Контакты
				.header-mobile-menu-item
					.header-mobile-menu-item__title
						a(href="#") Винтовые сваи
						span
					.header-mobile-menu-item-list
						a.header-mobile-menu-item__link(href="#") Производство
						a.header-mobile-menu-item__link(href="#") Наши работы
						a.header-mobile-menu-item__link(href="#") Новости
						a.header-mobile-menu-item__link(href="#") Блог
						a.header-mobile-menu-item__link(href="#") Отзывы
				.header-mobile-menu-item
					.header-mobile-menu-item__title
						a(href="#") Фундамент
						span
					.header-mobile-menu-item-list
						a.header-mobile-menu-item__link(href="#") Производство
						a.header-mobile-menu-item__link(href="#") Наши работы
						a.header-mobile-menu-item__link(href="#") Новости
						a.header-mobile-menu-item__link(href="#") Блог
						a.header-mobile-menu-item__link(href="#") Отзывы
				.header-mobile-menu-item
					.header-mobile-menu-item__title
						a(href="#") Монтаж фундамента
						span
					.header-mobile-menu-item-list
						a.header-mobile-menu-item__link(href="#") Производство
						a.header-mobile-menu-item__link(href="#") Наши работы
						a.header-mobile-menu-item__link(href="#") Новости
						a.header-mobile-menu-item__link(href="#") Блог
						a.header-mobile-menu-item__link(href="#") Отзывы
				.header-mobile-menu-item
					.header-mobile-menu-item__title
						a(href="#") Ремонт фундамента
						span
					.header-mobile-menu-item-list
						a.header-mobile-menu-item__link(href="#") Производство
						a.header-mobile-menu-item__link(href="#") Наши работы
						a.header-mobile-menu-item__link(href="#") Новости
						a.header-mobile-menu-item__link(href="#") Блог
						a.header-mobile-menu-item__link(href="#") Отзывы
				.header-mobile-menu-item
					.header-mobile-menu-item__title
						a(href="#") Установка заборов
						span
					.header-mobile-menu-item-list
						a.header-mobile-menu-item__link(href="#") Производство
						a.header-mobile-menu-item__link(href="#") Наши работы
						a.header-mobile-menu-item__link(href="#") Новости
						a.header-mobile-menu-item__link(href="#") Блог
						a.header-mobile-menu-item__link(href="#") Отзывы
.breadcrumbs
	a.breadcrumbs__link(href="#") Главная
	<svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M1 7L4 4L1 1" stroke="black" stroke-width="0.75"/>
	</svg>
	a.breadcrumbs__link(href="#") Каталог
	<svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M1 7L4 4L1 1" stroke="black" stroke-width="0.75"/>
	</svg>
	.breadcrumbs__link Монтаж и установка винтовых свай