.about{
  padding-top: 135px;
  .general__title{
    margin-bottom: 100px;
  }
  &-wrap{
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 20px 80px;
    margin: 0 auto;
  }
  &-ship{
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 30px 0;
    &__text{
      font-size: 18px;
      line-height: 150%;
      color: rgba(0, 0, 0, 0.75);
    }
    &__subtext{
      margin-top: 6px;
      font-size: 16px;
      line-height: 150%;
      color: rgba(0, 0, 0, 0.5);
    }
    &__img{
      &:first-of-type{
        display: block;
      }
      &:last-of-type{
        display: none;
      }
    }
    &-desc{
      position: absolute;
      img{
        display: none;
      }
      &_1{
        top: 72px;
        left: 995px;
      }
      &_2{
        top: -20px;
        left: 597px;
      }
      &_3{
        top: 50px;
        left: 299px;
      }
      &_4{
        top: 190px;
        left: 84px;
      }
      &_5{
        top: 372px;
        left: 0px;
      }
      &_6{
        bottom: 251px;
        left: 57px;
      }
      &_7{
        bottom: 74px;
        left: 119px;
      }
      &_8{
        bottom: -20px;
        left: 366px;
      }
    }
  }
}
@include w1440{
  .about{
    &-wrap{

    }
    &-ship{
      max-width: 768px;
      box-sizing: border-box;
      padding-right: 50px;
      margin: 0 auto;
      &__text{
        font-size: 16px;
      }
      &__subtext{
        font-size: 14px;
        margin-top: 0;
      }
      &__img{
        width: 400px;
        height:400px;
      }
      &-desc{
        display: block;
        max-width: 256px;
        &_1{
          left: auto;
          top: 45px;
          right: 0px;
        }
        &_2{
          left: auto;
          top: -30px;
          right: 94px;
        }
        &_3{
          left: auto;
          top: 22px;
          right: 390px;
        }
        &_4{
          left: auto;
          top: 101px;
          right: 400px;
        }
        &_5{
          left: auto;
          top: 180px;
          right: 480px;
        }
        &_6{
          left: auto;
          bottom: 110px;
          right: 430px;
        }
        &_7{
          left: auto;
          bottom: 20px;
          right: 360px;
        }
        &_8{
          left: auto;
          bottom: -55px;
          right: 100px;
        }
      }
    }
  }
}
@include w768{
  .about{
    padding-top: 84px;
    .general__title{
      margin-bottom: 125px;
    }
  }
}
@include w480{
  .about{
    padding-top: 45px;
    .general__title{
      margin-bottom: 76px;
    }
    &-wrap{
      padding-bottom: 20px;
    }
    &-ship{
      padding: 0;
      flex-direction: column;
      &-desc{
        display: block;
        max-width: none;
        position: relative;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        padding-left: 30px;
        &:not(:last-child){
          margin-bottom: 36px;
        }
        img{
          display: block;
          position: absolute;
          top: 5px;
          left: 0;
        }
        &__text{
          font-weight: 600;
          font-size: 14px;
          line-height: 125%;
        }
        &__subtext{
          font-size: 14px;
        }
      }
      &__img{
        width: 100%;
        max-width: 340px;
        align-self: center;
        margin-bottom: 47px;
        height: auto;
        &:first-of-type{
          display: none;
        }
        &:last-of-type{
          display: block;
        }
      }
    }
  }
}
@include w320{
  .about-wrap{
    padding: 0 10px 20px;
  }
}