.portfolio{
  padding-top: 135px;
  
  .general__title{
    margin-bottom: 100px;
  }
  &-wrap{
    max-width: 1320px;
    box-sizing: border-box;
    padding: 0 80px 80px;
    margin: 0 auto;
    &-tabs{
      display: flex;
      margin-bottom: 50px;
      align-items: center;
      &__link{
        display: flex;
        padding: 0 32px;
        background: #fff;
        height: 28px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        font-size: 14px;
        line-height: 150%;
        align-items: center;
        color: rgba(0, 0, 0, 0.5);
        &:hover{
          background: #EEF6FD;
        }
        transition: .3s;
        &.selected{
          background-color: #6699C2;
          color: #fff;
        }
        &:not(:last-child){
          margin-right: 24px;
        }
      }
    }
  }
  &-switch{
    position: relative;
    &-arrows{
      &__prev, &__next{
        background: #FFFFFF;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
        position: absolute;
        top: calc(50% - 25px);
        padding: 15px 20px;
        border-radius: 50%;
        z-index: 9;
        cursor: pointer;
        transition: .3s;
        &.slick-disabled{
          background: #e4e4e4;
        }
      }
      &__prev{
        left: -70px;
      }
      &__next{
        right: -70px;
      }
    }
    &-dots{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 45px;
      li{
        &:not(:last-child){
          margin-right: 10px;
        }
        &.slick-active{
          button{
            background-color: #54A5E2
          }
        }
        &:not(.slick-active) button:hover{
          background-color: rgba(84, 165, 226, 0.25);
        }
        button{
          border: 1px solid #54A5E2;
          border-radius: 50%;
          cursor: pointer;
          width: 16px;
          height: 16px;
          background-color: #fff;
          transition: .3s;
          font-size: 0; 
        }
      }
    }
  }
}
@media screen and (min-width: 1024px){
  .portfolio-switch-arrows__prev:not(.slick-disabled):hover, .portfolio-switch-arrows__next:not(.slick-disabled):hover{
    background-color: rgba(84, 165, 226, 0.25);
  }
}

@include w1024{
  .portfolio{
    padding-top: 84px;
    &-wrap{
      padding: 0 20px 80px;
      &-tabs{
        margin-bottom: 40px;
        &__link{
          padding: 0 24px;
          font-size: 12px;
          &:not(:last-child){
            margin-right: 20px;
          }
        }
      }
    }
    &-switch{
      &-arrows{
        &__prev{
          left: -20px;
          transform-origin: center center;
          transform: scale(0.7);
        }
        &__next{
          right: -20px;
          transform-origin: center center;
          transform: scale(0.7);
        }
      }
      &-dots{
        margin-top: 26px;
      }
    }
  }
}
@include w480{
  .portfolio{
    padding-top: 45px;
    .general__title{
      margin-bottom: 60px;
    }
    &-wrap{
      padding: 0 20px 0;
      &-tabs{
        flex-wrap: wrap;
        margin-bottom: 12px;
        &__link{
          margin-bottom: 12px;
        }
      }
    }
    &-switch{
      &-dots{
        margin-top: 5px;
      }
    }
  }
}
@include w320{
  .portfolio-wrap{
    padding: 0 10px;
  }
  .portfolio-switch-arrows__next{
    right: -10px;
  }
  .portfolio-switch-arrows__prev{
    left: -10px;
  }
}