.press{
  overflow: hidden;
  margin-bottom: 100px;
  &-ny{
    max-width: 1440px;
    overflow: visible;
    padding: 0 136px;
    box-sizing: border-box;
    width: 100%;
    margin: 50px auto 0;
  }
  &__title{
    margin: 0 0 20px;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
  }
  &-wrap{
    width: 100%;
    padding: 0 178px;
    box-sizing: border-box;
    position: relative;
    &-arrows{
      &__prev, &__next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 50%;
        cursor: pointer;
        z-index: 9;
      }
      &__prev{
        left: 84px;
      }
      &__next{
        right: 84px;
        img{
          transform: rotate(180deg);
        }
      }
    }
  }
  &-slider{
    
    .slick-list, .slick-track{
      overflow: visible;
    }
    margin: 0 -91px;
    .slick-slide{
      //margin-right: -183px;
      margin: 0 91px;
      opacity: 1;
      transition: opacity .3s ease-in-out;
      transition-delay: .7s;
      &:not(.slick-current){
        opacity: 0.4;
      }
    }
    &-item{
      width: 100%;
      display: flex !important;
      align-items: center;
      &-img{
        height: 600px;
        flex: 1;
        box-sizing: border-box;
        padding-right: 20px;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        background: radial-gradient(51.17% 51.17% at 50% 50%, rgba(73, 153, 214, 0.25) 0%, rgba(79, 157, 216, 0.231771) 51.56%, rgba(158, 207, 244, 0) 100%);
      }
      &-desc{
        width: 220px;
        flex-shrink: 0;
        &__name{
          font-weight: 600;
          font-size: 24px;
          line-height: 150%;
          margin-bottom: 38px;
        }
        &-item{
          margin-bottom: 15px;
          &__title{
            font-size: 18px;
            margin-bottom: 6px;
            line-height: 150%;
          }
          &__text{
            font-size: 18px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.5);
          }
        }
        &__btn{
          margin-top: 43px;
          max-width: none;
          width: 100%;
        }
      }
    }
  }
}
@include w1440{

  .press{
    &-wrap{
      padding: 0;
      &-arrows{
        &__prev{
          left: -30px;
        }
        &__next{
          right: -30px;
        }
      }
    }
    &-slider{
      .slick-slide{
        //margin: 0;
        
        &:not(.slick-current){
          opacity: 1;
        }
      }
      .slick-list, .slick-track{
        overflow: hidden;
      }
    }
  }
}
@include w768{
  .press{
    &-ny{
      padding: 0 60px;
    }
    &__title{
      font-size: 32px;
      margin: 0 -40px 20px;
    }
    &-slider{
      margin-bottom: 100px;
      &-item{
        &-img{
          height: 300px;
        }
        &-desc{
          &-item{
            &__title{
              font-size: 14px;
            }
            &__text{
              font-size: 14px;
            }
          }
          &__btn{
            margin-top: 23px;
          }
        }
      }
      .slick-list, .slick-track{
        
      }
    }
    
  }
}
@include w480{
  .press{
    &__title{
      text-align: center;
      margin: 0 0 40px;
    }
    &-ny{
      padding: 0 20px;
    }
    &-wrap{
      &-arrows{
        &__prev, &__next{
          top: 93px;
          width: 30px;
          height: 30px;
          img{
            width: 6px;
            height: 12px;
          }
        }
        &__prev{
          left: 0;
        }
        &__next{
          right: 0;
        }
      }
    }
    &-slider{
      .slick-slide{
        //margin-right: -183px;
        opacity: 1;
        transition: none;
        transition-delay: 0;
        &:not(.slick-current){
          opacity: 0;
        }
      }
      &-item{
        flex-direction: column;
        &-img{
          max-height: 230px;
          padding-right: 0;
        }
        &-desc{
          width: 100%;
          &-items{
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
          }
          &-item{
            width: 50%;
          }
        }
      }

    }
  }
}
.flags{
  .press{
    &-wrap{
      padding: 0 280px;
      &-arrows{
        &__prev{
          left: 180px;
        }
        &__next{
          right: 180px;
        }
      }
    }
    &-slider{
      &-item{
        width: 100%;
      }
    }
  }
}
@include w1440{
  .flags{
    .press{
      &-wrap{
        padding: 0 00px;
        &-arrows{
          &__prev{
            left: 0px;
          }
          &__next{
            right: 0px;
          }
        }
      }
    }
  }
}


.views{
  max-width: 1440px;
  padding: 0 138px;
  box-sizing: border-box;
  margin: 100px auto 0;
  &__title{
    margin: 0 0 140px;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
  }
  &-wrap{
    display: flex;
    margin: 0 -62px;
    width: calc(100% + 124px);
    justify-content: space-between;
    &-item{
      width: calc(50% - 81px);

      img{
        width: 100%;
        margin-bottom: 30px;
      }
      &__title{
        margin: 0 62px;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 10px;
        line-height: 150%;
      }
      &__text{
        margin: 0 62px;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.75);
        margin-bottom: 24px;
      }
      &__btn{
        margin: 0 62px;

      }
    }
  }
}
@include w1024{
  .views{
    &-wrap{
      margin: 0;
      width: 100%;
      &-item{
        width: calc(50% - 20px);
        &__title{
          margin: 0 0 15px;
        }
        &__text{
          margin: 0 0 15px;
        }
        &__btn{
          margin: 0;
        }
      }
    }
  }
}
@include w768{
  .views{
    padding: 0 20px;
    margin-bottom: 130px;
    &__title{
      margin-bottom: 80px;
    }
    &-wrap{
      &-item{
        &__title{
          font-size: 18px;
        }
        &__text{
          font-size: 14px;
        }
        &__btn{
          font-size: 14px;
        }
      }
    }
  }
}
@include w480{
  .views{
    margin-bottom: 100px;
    &__title{
      font-size: 32px;
      margin-bottom: 50px;
    }
    &-wrap{
      flex-direction: column  ;
      &-item{
        width: 100%;
        &:first-of-type{
          margin-bottom: 80px;
        }
        &__title{
          text-align: center;
        }
        &__text{
          text-align: center;
        }
        &__btn{
          margin: 0 auto;
        }
      }
    }
  }
}
@include w320{
  .views{
    padding: 0 10px;
  }
}


.dopoln{
  padding: 0 138px;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  &__title{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    margin: 100px 0 100px;
  }
  &-wrap{
    display: flex;
    align-items: center;
    &-img{
      flex: 1;
      height: 520px;
      background-image: url('../images/dopoln.png');
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat  ;
    }
    &-desc{
      flex: 1;
      &__title{
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 30px;
      }
      &__text{
        font-size: 16px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.75);
        &:not(:last-child){
          margin-bottom: 24px;
        }
      }
      &__btn{}
    }
  }
}
@include w768{
  .dopoln{
    padding: 0 20px;
    &__title{
      margin: 50px 0 87px;
      font-size: 32px;
    }
    &-wrap{
      &-img{
        height: 388px;
      }
      &-desc{
        &__title{

        }
        &__text{

        }
      }
    }
  }
}

@include w480{
  .dopoln{
    &__title{
      margin: 80px 0 50px;
      font-size: 32px;
    }
    &-wrap{
      flex-direction: column;
      &-img{
        flex: none;
        width: 100%;
        max-height: 388px;
        margin-bottom: 40px;
      }
      &-desc{
        flex: none;
        width: 100%;
        &__btn{
          width: 100%;
          max-width: none;
        }
      }
    }
  }
}


@include w320{
  .dopoln{
    padding: 0 10px;
  }
}