.tasks{
  max-width: 1440px;
  padding: 60px 20px;
  box-sizing: border-box;
  margin: 0 auto;
  a{
    text-decoration: none;
  }
  &-top{
    margin-bottom: 40px;
    a{
      margin-right: 35px;
      font-size: 36px;
      line-height: 44px;
      color: rgba(0, 0, 0, 0.25);
      transition: .3s;
      &.selected{
        color: #000000;
      }
    }
  }
  &-main{
    display: none;
    &-item{
      display: flex;
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding: 20px;
      justify-content: space-between;
      align-items: center;
      &:not(:last-child){
        margin-bottom: 20px;;
      }
      &-projectImage{
        border-radius: 50%;
        max-width: 78px;
        max-height: 78px;
        position: relative;
        overflow: hidden;
        &_default{
          width: 100%;
          height: 100%;
          max-width: 78px;
          max-height: 78px;
          svg{
            width: 100%;
            height: 100%;
          }
        }
        &_custom{
          max-width: 78px;
          max-height: 78px;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
      &-afterImage{
        margin-left: 20px;
        margin-right: auto;
        flex-grow: 2;
        &__name{
          font-family: 'Avenir Next Cyr Medium';
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 14px;
        }
        &__status{
          font-size: 16px;
          line-height: 20px;
          font-family: 'Avenir Next Cyr Medium';
          display: flex;
          align-items: baseline;
          svg{
            margin-right: 10px;
          }
        }
      }
      &-centerFlex{
        flex-grow: 1;
        &__title{
          font-family: 'Avenir Next Cyr Medium';
          font-size: 20px;
          line-height: 25px;
          margin-bottom: 15px;
          color: #6E1866;
        }
        &__text{
          font-family: 'Avenir Next Cyr Medium';
          font-size: 16px;
          line-height: 20px;
          color: #000;
        }
      }
      &__btn{
        display: flex;
        height: 50px;
        align-items: center;
        text-decoration: none;
        flex-grow: 1;
        background: #6E1866;
        border-radius: 5px;
        justify-content: center;
        font-size: 16px;
        line-height: 20px;
        font-family: 'Avenir Next Cyr Medium';
        color: #FFFFFF;
      }
    }
  }
  &-breadcrumbs{
    display: flex;
    margin-bottom: 35px;
    font-family: 'Avenir Next Cyr Medium';
    a{
      &:not(:last-child):hover:after, &:not(:last-child):focus:after {
        width: calc(100% - 47px);
      }
      &:last-child:hover:after, &:last-child:focus:after {
        width: 100%;
      }
      &:after {
        position: absolute;
        bottom: -8px;
        background-color: rgba(155, 81, 224, 0.75);
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
      }
      &:last-child{
        img{
          display: none;
        }
      }
      color: rgba(78, 77, 77, 0.5);
      font-size: 14px;
      line-height: 16px;
      display: flex;
      position: relative;
      align-items: baseline;
      img{
        margin: 0 20px;
      }
    }
  }
  &-full{
    &-projectImage{
      position: relative;
    }
    &-top{
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    &-centerFlex{
      &-wrap{
        display: flex;
        padding: 15px 0 20px;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        margin-top: 40px;
        margin-bottom: 35px;
        border-top: 1px solid rgba(0, 0, 0, 0.25);
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      }
      margin-right: 60px;
    }
    &__title{
      margin-bottom: 15px;
      font-size: 24px;
      line-height: 29px;
      font-family: 'Avenir Next Cyr Medium';
    }
    &__text{
      margin-bottom: 30px;
      font-size: 16px;
      font-family: 'Avenir Next Cyr Medium';
      line-height: 135%;
      color: rgba(0, 0, 0, 0.75);
    }
    .tasks-full-subProject .tasks-main-item-afterImage{
      margin-left: 0;
    }
  }
}