extends ../template

block variables
	- var title = 'fence'

block content
	main.proj
		.proj-top
			h1.proj-top__title Установка заборов
		article.proj-article
			section.proj-section.proj-section_fence
				.proj-section-item
					.proj-section-item-imgbox
						img(src="assets/images/proj.png", alt="")
					.proj-section-item__title Фундамент на винтовых сваях
				.proj-section-item
					.proj-section-item-imgbox
						img(src="assets/images/proj.png", alt="")
					.proj-section-item__title Фундамент на винтовых сваях
				.proj-section-item
					.proj-section-item-imgbox
						img(src="assets/images/proj.png", alt="")
					.proj-section-item__title Фундамент на винтовых сваях
				.proj-section-item
					.proj-section-item-imgbox
						img(src="assets/images/proj.png", alt="")
					.proj-section-item__title Фундамент на винтовых сваях
				.proj-section-item
					.proj-section-item-imgbox
						img(src="assets/images/proj.png", alt="")
					.proj-section-item__title Фундамент на винтовых сваях
				.proj-section-item
					.proj-section-item-imgbox
						img(src="assets/images/proj.png", alt="")
					.proj-section-item__title Фундамент на винтовых сваях
				.catalog-content-main-pagination 
					a.catalog-content-main-pagination__arrow.arr-prev.disabled(href="#")
					.catalog-content-main-pagination-items
						a.catalog-content-main-pagination__item.active.disabled(href="#") 1
						a.catalog-content-main-pagination__item(href="#") 2
						a.catalog-content-main-pagination__item.disabled(href="#") ...
						a.catalog-content-main-pagination__item(href="#") 10
					a.catalog-content-main-pagination__arrow.arr-next(href="#")
