extends ../template

block variables
	- var title = 'Новости'

block content
	.news
		.news-top
			h1.news-top__title Новости
			a(href="").news-top__title.news-top__title_link Акции
			form.news-top__calendarForm#news-top__form
				label
					input(type="text" readonly)#news-top__calendarForm-input.news-top__calendarForm-input
					span 
						<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.61145 0.880078L4.9977 4.49383L1.38395 0.880078C1.1402 0.636328 0.743945 0.636328 0.500195 0.880078C0.256445 1.12383 0.256445 1.52008 0.500195 1.76383L4.55395 5.81758C4.67645 5.94008 4.8377 6.00133 4.9977 6.00008C5.15895 6.00008 5.31895 5.94008 5.44145 5.81758L9.4952 1.76383C9.73895 1.52008 9.73895 1.12383 9.4952 0.880078C9.25145 0.636328 8.8552 0.636328 8.61145 0.880078Z" fill="black" fill-opacity="0.75"/>
						</svg>
		.news-main
			.news-main-item
				.news-main-item-imgbox
					img(src="assets/images/news.png", alt="")
				.news-main-item-desc
					.news-main-item-desc__title Дополнительные скидки при заказе фундамента и забора
					.news-main-item-desc__desc Дорогие друзья! Рады сообщить, что у нас действует дополнительная скидка для клиентов, которые заказывают в нашей компании свайно-винтовой фундамент и установку 
					.news-main-item-desc-bot
						.news-main-item-desc-bot__date 27.05.2019
						a(href="#").news-main-item-desc-bot__more Подробнее
			.news-main-item
				.news-main-item-imgbox
					img(src="assets/images/news.png", alt="")
				.news-main-item-desc
					.news-main-item-desc__title Дополнительные скидки при заказе фундамента и забора
					.news-main-item-desc__desc Дорогие друзья! Рады сообщить, что у нас действует дополнительная скидка для клиентов, которые заказывают в нашей компании свайно-винтовой фундамент и установку 
					.news-main-item-desc-bot
						.news-main-item-desc-bot__date 27.05.2019
						a(href="#").news-main-item-desc-bot__more Подробнее
			.news-main-item
				.news-main-item-imgbox
					img(src="assets/images/news.png", alt="")
				.news-main-item-desc
					.news-main-item-desc__title Дополнительные скидки при заказе фундамента и забора
					.news-main-item-desc__desc Дорогие друзья! Рады сообщить, что у нас действует дополнительная скидка для клиентов, которые заказывают в нашей компании свайно-винтовой фундамент и установку 
					.news-main-item-desc-bot
						.news-main-item-desc-bot__date 27.05.2019
						a(href="#").news-main-item-desc-bot__more Подробнее
			.news-main-item
				.news-main-item-imgbox
					img(src="assets/images/news.png", alt="")
				.news-main-item-desc
					.news-main-item-desc__title Дополнительные скидки при заказе фундамента и забора
					.news-main-item-desc__desc Дорогие друзья! Рады сообщить, что у нас действует дополнительная скидка для клиентов, которые заказывают в нашей компании свайно-винтовой фундамент и установку 
					.news-main-item-desc-bot
						.news-main-item-desc-bot__date 27.05.2019
						a(href="#").news-main-item-desc-bot__more Подробнее
			.news-main-item
				.news-main-item-imgbox
					img(src="assets/images/news.png", alt="")
				.news-main-item-desc
					.news-main-item-desc__title Дополнительные скидки при заказе фундамента и забора
					.news-main-item-desc__desc Дорогие друзья! Рады сообщить, что у нас действует дополнительная скидка для клиентов, которые заказывают в нашей компании свайно-винтовой фундамент и установку 
					.news-main-item-desc-bot
						.news-main-item-desc-bot__date 27.05.2019
						a(href="#").news-main-item-desc-bot__more Подробнее
			.news-main-item
				.news-main-item-imgbox
					img(src="assets/images/news.png", alt="")
				.news-main-item-desc
					.news-main-item-desc__title Дополнительные скидки при заказе фундамента и забора
					.news-main-item-desc__desc Дорогие друзья! Рады сообщить, что у нас действует дополнительная скидка для клиентов, которые заказывают в нашей компании свайно-винтовой фундамент и установку 
					.news-main-item-desc-bot
						.news-main-item-desc-bot__date 27.05.2019
						a(href="#").news-main-item-desc-bot__more Подробнее
		button.news__more Показать ещё
			<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L5 5L9 1" stroke="#47657A"/>
			</svg>