extends ../template

block variables
	- var title = 'Price'

block content
	main.price
		h1.price__title Стоимость винтовых свай для фундамента
		article.price-article
			.price-wrap
				aside.price-aside
					p.price-aside__title Категории
						<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.91815 1.07729C8.80788 0.974235 8.62871 0.974235 8.51845 1.07729L5.00387 4.36876L1.48239 1.07729C1.37213 0.974235 1.19296 0.974235 1.0827 1.07729C0.972435 1.18035 0.972435 1.34783 1.0827 1.45089L4.79713 4.92271C4.85226 4.97424 4.92117 5 4.99697 5C5.06589 5 5.14169 4.97424 5.19682 4.92271L8.91125 1.45089C9.02841 1.34783 9.02841 1.18035 8.91815 1.07729Z" fill="black" fill-opacity="0.75"/>
							<path d="M8.38188 0.931182L8.38174 0.931316L5.00373 4.09487L1.61896 0.931182C1.43183 0.756273 1.13326 0.756273 0.946127 0.931182C0.751291 1.11329 0.751291 1.41489 0.946127 1.597L4.66056 5.06882C4.75473 5.15684 4.87327 5.2 4.99697 5.2C5.11131 5.2 5.23752 5.15842 5.33339 5.06882L9.04589 1.5988C9.24993 1.41682 9.24982 1.11354 9.05472 0.931182C8.86758 0.756273 8.56901 0.756273 8.38188 0.931182Z" stroke="black" stroke-opacity="0.75" stroke-width="0.4"/>
						</svg>
					ul 
						li.active
							a(href="#") Классические
						li
							a(href="#") Эконом
						li
							a(href="#") Оцинкованные
						li
							a(href="#") Заборные
						li
							a(href="#") Буронабивные
				section.price-section
					h2.price-section__title Стандартные сваи
					.table-wrap
						table
							thead
								tr
									th Длина
									th Свая
									th Оголовок
									th Комплект
									th С установкой
							tbody
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
				section.price-section
					h2.price-section__title Стандартные сваи
					.table-wrap
						table
							thead
								tr
									th Длина
									th Свая
									th Оголовок
									th Комплект
									th С установкой
							tbody
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
				section.price-section
					h2.price-section__title Стандартные сваи
					.table-wrap
						table
							thead
								tr
									th Длина
									th Свая
									th Оголовок
									th Комплект
									th С установкой
							tbody
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
								tr
									td 57/1 650
									td 800 ₽
									td 150 ₽
									td 950 ₽
									td 1 750 ₽
					p ИП "Зимин" предоставляет полный спектр услуг: от производства винтовых свай до установки фундамента. Это дает возможность уже на этапе изготовления конструкций предложить заказчикам оптимальные цены на наши изделия.
				section.price-section
					h2.price-section__title Ценa на винтовые сваи с установкой и изготовлением
					p Винтовые сваи + монтаж + заливка раствором ЦПС М-150 (в зимнее время засыпка сухим раствором) + оголовок:<br><br>
						| Для домов (СВСН-108) от 2 700 руб.<br>
						| Легких построек (СВСН-89) от 2 500 руб.<br>
						| Сараев и беседок (СВСН-76) от 2 400 руб.<br>
						| Заборов (СВСН-57) от 2 200 руб.<br>
						| Для сверхтяжелых конструкций (СВСН-133) от 3 400 руб.<br>
						| Свайно-винтовой фундамент 6x6 от 24 300 руб.<br>
				section.price-section
					h2.price-section__title Строительство домов
					p 1. Бревенчатых
					p 2. Профилированного бруса
					p 3. Каркасно-щитовых
					p 4. Из сип панелей