extends ../template

block variables
	- var title = 'Текстовая'

block content
	main.text
		h1.text__title Плюсы и минусы свайно-винтового фундмента
		.text-imgbox
			img(src="assets/images/bg-text.png", alt="")
		article.text-article
			section.text-section
				p Среди многообразия фундаментов, применяемых в малоэтажном строительстве (свайный, столбчатые, ленточные, монолитные плиты) особой популярностью в последние годы пользуются свайно-винтовые, которые обладают неоспоримыми преимуществами в сравнении с другими видами оснований. Наша компания с 2011 года занимается установкой свайных фундаментов в СПб и Ленинградской области в радиусе 300 км. Благодаря собственному производству мы обеспечиваем невысокие цены на доставку и монтаж. Звоните нашим менеджерам, заказывайте выезд специалиста на участок и получайте смету в течении одного дня. Выезд Бесплатно!
		article.text-article
			section.text-section
				h2 Что такое свайно-винтовой фундамент?
				p Винтовые сваи, используемые для оснований домов, представляют собой стальные трубы из высококачественной стали с толщиной стенки не менее 4 мм, и диаметром от 90 мм, заваренные на конус внизу. К трубам приварены лопасти винта (2 витка) для вкручивания в грунт. Сваи покрывают прочными защитными химическими соединениями.
				img(src="assets/images/text-image.png", alt="")
			aside.text-aside
				p.text-aside__title Что делать? <time>23.11.18</time>
				span.text-aside__desc Закрутил сваю, как платить налог?
		article.text-article
			section.text-section
				h2 Основные достоинства
				p 1. Возможность применения на различных видах грунтов (кроме скальных пород), рельефе местности с любым перепадом высот;
				p 2. Можно строить дома над водой, а также возводить причалы;
				p 3. Экономичность. Стоимость свайно-винтовых оснований на 30-70% ниже в сравнении с традиционными. При строительстве домов на торфяных грунтах толщиной более 3 м стоимость в 3-5 раз ниже. Экономия на материалах и трудозатратах;
				p Анализом грунта, расчетом количества свай и проектированием свайно-винтового фундамента, его несущей способности, установкой винтовых свай должны заниматься опытные квалифицированные специалисты. Это обеспечит надежность и долговечность возводимого строения.
