extends ../common/main.pug  
block title
  | О компании | ГК "Паруса"
block content
  section.about
    .about-wrap
      h1.general__title О компании
      .about-ship
        img(src="assets/images/ship.png", alt="ship").about-ship__img
        img(src="assets/images/ship1.png", alt="ship1").about-ship__img
        .about-ship-desc.about-ship-desc_1
          img(src="assets/images/dot.svg", alt="")
          p.about-ship__text Работаем с НДС
        .about-ship-desc.about-ship-desc_2
          img(src="assets/images/dot.svg", alt="")
          p.about-ship__text Минимальные сроки выполнения заказов
        .about-ship-desc.about-ship-desc_3
          img(src="assets/images/dot.svg", alt="")
          p.about-ship__text Работаем для клиента
          p.about-ship__subtext и берём все его заботы на себя
        .about-ship-desc.about-ship-desc_4
          img(src="assets/images/dot.svg", alt="")
          p.about-ship__text Штат профессионалов
          p.about-ship__subtext монтажников и оклейщиков автомобилей
        .about-ship-desc.about-ship-desc_5
          img(src="assets/images/dot.svg", alt="")
          p.about-ship__text Собственный парк автомобилей
          p.about-ship__subtext для оперативного монтажа и выезда к клиенту
        .about-ship-desc.about-ship-desc_6
          img(src="assets/images/dot.svg", alt="")
          p.about-ship__text Собственное производство
          p.about-ship__subtext современно и качественно оборудованное
        .about-ship-desc.about-ship-desc_7
          img(src="assets/images/dot.svg", alt="")
          p.about-ship__text Материалы европейских производителей
          p.about-ship__subtext и новые технологии
        .about-ship-desc.about-ship-desc_8
          img(src="assets/images/dot.svg", alt="")
          p.about-ship__text Цветопередача отпечатков соответствует действительности на 100% 
    include ../common/callOrder.pug