extends ../common/main.pug  
block title
  | Контакты | ГК "Паруса"
block content
  section.contacts
    .contacts-wrap
      h1.general__title Контакты
      .contacts-wrap-flex
        .contacts-wrap-desc
          p.contacts-wrap-desc__when Мы работаем с 10 до 19 с понедельника по пятницу.
          .contacts-wrap-desc__link
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.03962 10.1898L5.02937 10.175L5.01857 10.1606C4.23869 9.12079 3.87144 7.6872 3.96396 6.23803C4.05648 4.78875 4.60195 3.4272 5.5146 2.51455C7.60098 0.428459 10.9834 0.428527 13.0694 2.5145C13.9821 3.4272 14.5275 4.78875 14.6201 6.23803C14.7126 7.6872 14.3453 9.12079 13.5654 10.1606L13.5546 10.175L13.5444 10.1898L9.29201 16.331L5.03962 10.1898ZM6.842 6.42288C6.842 7.0463 7.01194 7.69037 7.4592 8.18996C7.92082 8.70557 8.57277 8.9498 9.292 8.9498C10.0537 8.9498 10.6913 8.65093 11.1284 8.15715C11.5495 7.68139 11.742 7.07443 11.742 6.4998C11.742 5.92518 11.5495 5.31823 11.1284 4.84246C10.6913 4.34868 10.0537 4.0498 9.29201 4.0498C8.56336 4.0498 7.92833 4.30549 7.47819 4.77941C7.0387 5.24211 6.842 5.84273 6.842 6.42288Z" stroke="#54A5E2" stroke-opacity="0.75" stroke-width="1.9"/>
            </svg>
            p г. Санкт-Петербург, ул. Жукова д. 19 <br>ст. м. “Площадь Ленина”
          .contacts-wrap-desc__link.contacts-wrap-desc__link_half
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.925 14.3879L14.388 10.9249C15.168 10.1459 15.168 8.87686 14.388 8.09686L7.90298 1.61186C7.12298 0.831855 5.85498 0.831855 5.07498 1.61186L1.61198 5.07486C0.831978 5.85386 0.831978 7.12286 1.61198 7.90286L8.09698 14.3879C8.87698 15.1679 10.145 15.1679 10.925 14.3879ZM9.511 12.9739L3.026 6.48888L6.489 3.02588L12.975 9.50988L9.511 12.9739Z" fill="#54A5E2" fill-opacity="0.75"/>
              <path d="M6 16H5C2.243 16 0 13.757 0 11V10H2V11C2 12.654 3.346 14 5 14H6V16Z" fill="#54A5E2" fill-opacity="0.75"/>
              <path d="M10 0H11C13.757 0 16 2.243 16 5V6H14V5C14 3.346 12.654 2 11 2H10V0Z" fill="#54A5E2" fill-opacity="0.75"/>
            </svg>
            a(href="tel: +7 (812) 331-800-1") +7 (812) 331-800-1
            a(href="tel: +7 (812) 331-800-2") +7 (812) 331-800-2
          .contacts-wrap-desc__link.contacts-wrap-desc__link_mail
            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M15 0H1C0.448 0 0 0.447 0 1V13C0 13.553 0.448 14 1 14H15C15.552 14 16 13.553 16 13V1C16 0.447 15.552 0 15 0ZM14 5.72314V12.0001H2V5.72314L7.504 8.86814C7.812 9.04414 8.189 9.04414 8.496 8.86814L14 5.72314ZM8 6.849L14 3.42V2H2V3.42L8 6.849Z" fill="#54A5E2" fill-opacity="0.75"/>
            </svg>
            a(href="mailto: zakaz@parusa-group.ru") zakaz@parusa-group.ru
            p.contacts-wrap-desc__subtitle Отвечаем в течение часа в режиме 24/7
          .contacts-inst.contacts-wrap-desc__link_half
            .contacts-wrap-desc__link
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.183 1.125H5.81701C3.22983 1.125 1.125 3.22983 1.125 5.81701V12.183C1.125 14.7702 3.22983 16.875 5.81701 16.875H12.183C14.7702 16.875 16.875 14.7702 16.875 12.183V5.81701C16.875 3.22983 14.7701 1.125 12.183 1.125ZM15.2906 12.183C15.2906 13.8992 13.8992 15.2906 12.183 15.2906H5.81701C4.10077 15.2906 2.70945 13.8992 2.70945 12.183V5.81701C2.70945 4.10074 4.10077 2.70945 5.81701 2.70945H12.183C13.8992 2.70945 15.2906 4.10074 15.2906 5.81701V12.183Z" fill="#54A5E2" fill-opacity="0.75"/>
                <path d="M12.183 1.075H5.81701C3.20221 1.075 1.075 3.20221 1.075 5.81701V12.183C1.075 14.7978 3.20221 16.925 5.81701 16.925H12.183C14.7978 16.925 16.925 14.7978 16.925 12.183V5.81701C16.925 3.20221 14.7978 1.075 12.183 1.075ZM15.2406 12.183C15.2406 13.8716 13.8716 15.2406 12.183 15.2406H5.81701C4.12838 15.2406 2.75945 13.8716 2.75945 12.183V5.81701C2.75945 4.12835 4.12838 2.75945 5.81701 2.75945H12.183C13.8716 2.75945 15.2406 4.12835 15.2406 5.81701V12.183Z" stroke="#54A5E2" stroke-opacity="0.75" stroke-width="0.1"/>
                <path d="M8.99999 4.92648C6.75386 4.92648 4.92648 6.75386 4.92648 8.99997C4.92648 11.2461 6.75386 13.0735 8.99999 13.0735C11.2461 13.0735 13.0735 11.2461 13.0735 8.99997C13.0735 6.75383 11.2461 4.92648 8.99999 4.92648ZM8.99999 11.4891C7.62531 11.4891 6.51093 10.3747 6.51093 8.99999C6.51093 7.62531 7.62534 6.51093 8.99999 6.51093C10.3747 6.51093 11.4891 7.62531 11.4891 8.99999C11.4891 10.3746 10.3746 11.4891 8.99999 11.4891Z" fill="#54A5E2" fill-opacity="0.75"/>
                <path d="M8.99999 4.87648C6.72624 4.87648 4.87648 6.72624 4.87648 8.99997C4.87648 11.2737 6.72624 13.1235 8.99999 13.1235C11.2737 13.1235 13.1235 11.2737 13.1235 8.99997C13.1235 6.72621 11.2737 4.87648 8.99999 4.87648ZM8.99999 11.4391C7.65293 11.4391 6.56093 10.3471 6.56093 8.99999C6.56093 7.65293 7.65295 6.56093 8.99999 6.56093C10.3471 6.56093 11.4391 7.65293 11.4391 8.99999C11.4391 10.347 10.347 11.4391 8.99999 11.4391Z" stroke="#54A5E2" stroke-opacity="0.75" stroke-width="0.1"/>
                <path d="M13.0814 5.93315C13.6205 5.93315 14.0575 5.49614 14.0575 4.95705C14.0575 4.41797 13.6205 3.98096 13.0814 3.98096C12.5423 3.98096 12.1053 4.41797 12.1053 4.95705C12.1053 5.49614 12.5423 5.93315 13.0814 5.93315Z" fill="#54A5E2" fill-opacity="0.75"/>
                <path d="M13.0814 5.98315C13.6481 5.98315 14.1075 5.52375 14.1075 4.95705C14.1075 4.39036 13.6481 3.93096 13.0814 3.93096C12.5147 3.93096 12.0553 4.39036 12.0553 4.95705C12.0553 5.52375 12.5147 5.98315 13.0814 5.98315Z" stroke="#54A5E2" stroke-opacity="0.75" stroke-width="0.1"/>
              </svg>
              a(href="#") parusa_group
            .contacts-wrap-desc__link
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M15.9152 11.4443C15.8958 11.4025 15.8777 11.3679 15.861 11.3401C15.5834 10.8402 15.0529 10.2265 14.2698 9.49893L14.2533 9.48226L14.245 9.47409L14.2366 9.46572H14.2282C13.8728 9.12694 13.6478 8.89914 13.5535 8.78252C13.3811 8.56036 13.3425 8.33548 13.4367 8.10763C13.5033 7.93548 13.7534 7.57192 14.1865 7.01646C14.4143 6.72208 14.5947 6.48615 14.7279 6.3084C15.6888 5.03098 16.1053 4.2147 15.9775 3.85922L15.9279 3.77615C15.8946 3.72614 15.8085 3.68039 15.6698 3.63866C15.5308 3.59703 15.3531 3.59014 15.1365 3.61789L12.7373 3.63446C12.6985 3.62069 12.643 3.62197 12.5707 3.63866C12.4985 3.65535 12.4623 3.66373 12.4623 3.66373L12.4206 3.68459L12.3874 3.70965C12.3597 3.72623 12.3291 3.75538 12.2958 3.79704C12.2626 3.83856 12.2348 3.88729 12.2127 3.94282C11.9515 4.61481 11.6545 5.2396 11.3212 5.81715C11.1157 6.16154 10.927 6.46 10.7546 6.71272C10.5825 6.96534 10.4381 7.15147 10.3215 7.27077C10.2048 7.3902 10.0995 7.48587 10.0049 7.55815C9.91046 7.63045 9.83836 7.661 9.78844 7.64983C9.7384 7.63865 9.69128 7.62756 9.64666 7.61648C9.56896 7.56646 9.50646 7.49845 9.45934 7.41237C9.41201 7.3263 9.38015 7.21796 9.36349 7.08745C9.34692 6.95685 9.33711 6.84451 9.33431 6.75006C9.33171 6.65573 9.33291 6.5223 9.33854 6.35015C9.34432 6.17791 9.34692 6.06137 9.34692 6.00028C9.34692 5.7892 9.35103 5.56012 9.35929 5.31299C9.36769 5.06585 9.37449 4.87003 9.38018 4.72578C9.38584 4.58138 9.38847 4.4286 9.38847 4.26754C9.38847 4.10648 9.37866 3.98016 9.35929 3.88849C9.34015 3.79693 9.31077 3.70805 9.27205 3.62189C9.23309 3.53581 9.17608 3.46923 9.10127 3.42196C9.02631 3.37475 8.93311 3.33728 8.82221 3.30945C8.52783 3.24283 8.15298 3.2068 7.69748 3.2012C6.66455 3.19011 6.00084 3.25681 5.70649 3.40121C5.58987 3.46222 5.48433 3.54559 5.38997 3.65104C5.28998 3.77326 5.27603 3.83996 5.34821 3.85093C5.68149 3.90086 5.91742 4.02028 6.05628 4.20909L6.10632 4.30915C6.14524 4.38133 6.18411 4.50913 6.223 4.69237C6.26184 4.87561 6.2869 5.07831 6.29793 5.30035C6.32565 5.70584 6.32565 6.05294 6.29793 6.34169C6.27012 6.63055 6.24386 6.85543 6.2188 7.01649C6.19374 7.17755 6.15627 7.30806 6.10632 7.408C6.05628 7.50796 6.02299 7.56906 6.0063 7.59124C5.98964 7.61341 5.97575 7.62739 5.96472 7.63287C5.89253 7.66053 5.81746 7.67463 5.73975 7.67463C5.66194 7.67463 5.56757 7.6357 5.45652 7.55792C5.3455 7.48013 5.23028 7.37328 5.11085 7.23719C4.99143 7.10107 4.85674 6.91086 4.70674 6.66653C4.55685 6.42219 4.40133 6.13341 4.24027 5.8002L4.10701 5.55855C4.02371 5.40309 3.90991 5.17673 3.76551 4.87966C3.62102 4.58249 3.49331 4.29502 3.38229 4.01734C3.33791 3.90071 3.27124 3.81192 3.18239 3.75082L3.14069 3.72576C3.11297 3.70358 3.06848 3.68004 3.00744 3.65494C2.94631 3.62988 2.88253 3.61191 2.81582 3.60085L0.533257 3.61742C0.300008 3.61742 0.141747 3.67026 0.0584144 3.7758L0.0250639 3.82572C0.00840327 3.85353 0 3.89794 0 3.95907C0 4.02017 0.0166606 4.09515 0.0500111 4.18394C0.383224 4.96708 0.745586 5.72235 1.1371 6.44988C1.52861 7.1774 1.86882 7.76345 2.15754 8.20748C2.44631 8.65183 2.74066 9.0712 3.04058 9.4654C3.3405 9.85974 3.53903 10.1125 3.63617 10.2235C3.73342 10.3347 3.8098 10.4179 3.86533 10.4734L4.07363 10.6733C4.20692 10.8066 4.40264 10.9663 4.6609 11.1523C4.91921 11.3384 5.20518 11.5216 5.51896 11.7023C5.8328 11.8826 6.19791 12.0298 6.61448 12.1436C7.031 12.2576 7.4364 12.3033 7.83074 12.2812H8.78877C8.98307 12.2644 9.13027 12.2034 9.23032 12.0979L9.26347 12.0561C9.28576 12.023 9.30662 11.9715 9.32588 11.9022C9.34537 11.8328 9.35506 11.7563 9.35506 11.6731C9.34937 11.4344 9.36755 11.2192 9.40909 11.0276C9.45061 10.8361 9.49794 10.6917 9.55087 10.5944C9.60377 10.4973 9.66347 10.4153 9.72991 10.3488C9.79649 10.2822 9.84394 10.2418 9.87177 10.2279C9.89943 10.214 9.92152 10.2045 9.93818 10.1988C10.0715 10.1544 10.2283 10.1974 10.409 10.328C10.5895 10.4585 10.7588 10.6197 10.9172 10.8112C11.0755 11.0029 11.2657 11.218 11.4878 11.4567C11.71 11.6956 11.9044 11.8731 12.0709 11.9899L12.2375 12.0899C12.3487 12.1566 12.4931 12.2177 12.6708 12.2732C12.8483 12.3287 13.0037 12.3426 13.1372 12.3149L15.2698 12.2816C15.4807 12.2816 15.6448 12.2467 15.7612 12.1774C15.8779 12.108 15.9472 12.0315 15.9695 11.9483C15.9918 11.865 15.993 11.7706 15.9738 11.6649C15.954 11.5596 15.9346 11.4859 15.9152 11.4443Z" fill="#54A5E2" fill-opacity="0.75"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="16" height="16" fill="white"/>
                </clipPath>
                </defs>
              </svg>
              a(href="#") parusa_group
        .contacts-wrap-map#contacts__map
    .contacts-bottom
      form(action="").contacts-bottom-form#contacts-bottom-callOrder
        h3.contacts-bottom-form__title Напишите нам
        .contacts-bottom-left
          .contacts-bottom-left-item
            input(type="text" id="contacts-name" data-required).general__input
            label(for="contacts-name") Имя
          .contacts-bottom-left-item
            input(type="text" name="" data-required data-type="email").general__input
            label(for="contacts-email") E-mail
          .contacts-bottom-left-item.contacts-bottom-left-item_text
            textarea(type="text" data-required data-type="text" rows="1").general__input
            label(for="contacts-text") Сообщение
        .contacts-bottom-right
          button(type="submit").general__btn.contacts-bottom-right__submit Отправить
          p.contacts-bottom-right__text Отправляя данную форму, Вы соглашаетесь на обработку персональных данных