extends ../common/main.pug  
block title
  | Главная | ГК "Паруса"
block content
  section.main
    .main-banner
      .main-banner-desc
        h1.main-banner-desc__title Рекламно-<br>производственная<br>компания
        .main-banner-desc-quote
          .main-banner-desc-quote__text Ты не можешь менять направление ветра, но всегда можешь поднять паруса, чтобы достичь своей цели
          .main-banner-desc-quote__name О. Уайлд
        .main-banner-desc__text Широкий спектр услуг от печати до оформления мероприятий
      .main-banner-imgbox 
        <!--img(src="assets/images/main-banner.png", alt="Корабль")-->
    .main-bottom
      .main-bottom-item
        .main-bottom-item-imgbox
          img(src="assets/images/prod-flag.png", alt="").main-bottom-item-imgbox__img
        p.main-bottom-item__price от 300 руб
        p.main-bottom-item__title Флаги и флагштоки
        a(href="#").general__btn.main-bottom-item__look Просмотреть
      .main-bottom-item
        .main-bottom-item-imgbox
          img(src="assets/images/prod-scenes.png", alt="").main-bottom-item-imgbox__img
        p.main-bottom-item__price от 30 000 руб
        p.main-bottom-item__title Подиумы и сцены
        a(href="#").general__btn.main-bottom-item__look Просмотреть
      .main-bottom-item
        .main-bottom-item-imgbox
          img(src="assets/images/prod-presswall.png", alt="").main-bottom-item-imgbox__img
        p.main-bottom-item__price от 2500 руб
        p.main-bottom-item__title Пресс-волл
        a(href="#").general__btn.main-bottom-item__look Просмотреть
      .main-bottom-item
        .main-bottom-item-imgbox
          img(src="assets/images/prod-events.png", alt="").main-bottom-item-imgbox__img
        p.main-bottom-item__price от 300 руб
        p.main-bottom-item__title Оформление мероприятий
        a(href="#").general__btn.main-bottom-item__look Просмотреть
      .main-bottom-item
        .main-bottom-item-imgbox
          img(src="assets/images/prod-print.png", alt="").main-bottom-item-imgbox__img
        p.main-bottom-item__price от 300 руб
        p.main-bottom-item__title Печатное производство
        a(href="#").general__btn.main-bottom-item__look Просмотреть



