extends ../common/main.pug  
block title
  | Ордер | ГК "Паруса"
block content
  section.order
    .order-preview
      img(src="assets/images/press-slider.png", alt="")
    .order-description
      h1.order-description__title Пресс-волл
      form(action="").order-description-form
        .order-description-form-block.order-description-form-block_f
          p.order-description-form-block__title Тип конструкции
          p.order-description-form-block__change Изменить
          p.order-description-form-block__current
          input(type="radio" name="tritix" id="first_tritix" data-name-input="Тритикс")
          label.order-description-form-block__label(for="first_tritix")
            .order-description-form-block__label-img
              img(src="assets/images/believix.png", alt="").order-description-form-block__label__img
            p.order-description-form-block__label__text Тритикс
          input(type="radio" name="tritix" id="second_tritix" data-name-input="Битрикс")
          label.order-description-form-block__label(for="second_tritix")
            .order-description-form-block__label-img
              img(src="assets/images/believix.png", alt="").order-description-form-block__label__img
            p.order-description-form-block__label__text Битрикс
        .order-description-form-block-next(data-disabled="true")
          .order-description-form-block
            p.order-description-form-block__title Дополнительная обработка
            input(type="checkbox" id="1-in")
            label.order-description-form-block__label(for="1-in")
              .order-description-form-block__label-img
                img(src="assets/images/believix.png", alt="").order-description-form-block__label__img
              p.order-description-form-block__label__text На колесиках
            input(type="checkbox" id="2-in")
            label.order-description-form-block__label(for="2-in")
              .order-description-form-block__label-img
                img(src="assets/images/believix.png", alt="").order-description-form-block__label__img
              p.order-description-form-block__label__text С подсветкой
            input(type="checkbox" id="3-in")
            label.order-description-form-block__label(for="3-in")
              .order-description-form-block__label-img
                img(src="assets/images/believix.png", alt="").order-description-form-block__label__img
              p.order-description-form-block__label__text Фотозона под ключ
            input(type="checkbox" id="4-in")
            label.order-description-form-block__label(for="4-in") 
              .order-description-form-block__label-img
                img(src="assets/images/believix.png", alt="").order-description-form-block__label__img
              p.order-description-form-block__label__text Декор
          .order-description-form-block.order-description-form-block_options
            p.order-description-form-block__title Опции
            .order-description-form-block__item.order-description-form-block__item_h
              input(name="" id="ordSize" data-required).general__input.order-description-form-block__item__inputSize
              label(for="ordSize") Введите размер
            .order-description-form-block__item.order-description-form-block__item_h.order-description-form-block__item_sizer
              .order-description-form-block__item__size 2х2 м
              .order-description-form-block__item__size 2.5х3 м
              .order-description-form-block__item__size 3х4 м
            .order-description-form-block__item
              input(name="" id="ordMore").general__input
              label(for="ordMore") Дополнительные пожелания
            .order-description-form-block__item.order-description-form-block__item_h
              input(type="text" id="ordName" data-required).general__input
              label(for="ordName") Имя
            .order-description-form-block__item.order-description-form-block__item_h
              input(type="text" id="ordEmail" data-type="email" data-required).general__input
              label(for="ordEmail") E-mail
            .order-description-form-block__item.order-description-form-block__item_h
              input(type="text" id="ordTel" data-type="tel" data-required).general__input
              label(for="ordTel") Телефон
            .order-description-form-block-label.order-description-form-block__item_h
              .order-description-form-block-label-exit
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="14px" viewBox="0 0 357 357" style="enable-background:new 0 0 357 357;" xml:space="preserve"><g id="close"><polygon points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 214.2,178.5 "/></g></svg>
              label
                p(style="display: flex;")
                  img(src="assets/images/file-order.svg", alt="file") 
                  | Прикрепить файл
                input(type="file" multiple id="filesCallOrder2")
              .order-description-form-block-label-box
            .order-description-form-block-bottom
              button(type="submit").general__btn.order-description-form-block-bottom__submit Отправить
              p.order-description-form-block-bottom__text Отправляя данную форму, Вы соглашаетесь на обработку персональных данных