extends ../common/main.pug  
block title
  | Пресс-воллы | ГК "Паруса"
block content
  section.items.presswall
  - var banner__title = 'Пресс-воллы'
  - var banner__text = ' Презентации автомобилей, имиджевые меропрятия, задники бара, свадебные фото зоны, тематические фото зоны'
  - var background__url = 'assets/images/press-wall.png'
    include ../common/itemBanner.pug
    .press
      .press-ny
        h4.press__title Виды конструкций
        .press-wrap
          .press-wrap-arrows
            .press-wrap-arrows__prev
              img(src="assets/images/arr-slider.svg", alt="")
            .press-wrap-arrows__next
              img(src="assets/images/arr-slider.svg", alt="")
          .press-slider
            .press-slider-item
              .press-slider-item-img
                img(src="assets/images/press-slider.png", alt="")
              .press-slider-item-desc
                h6.press-slider-item-desc__name Тритикс
                .press-slider-item-desc-items
                  .press-slider-item-desc-item
                    p.press-slider-item-desc-item__title Типовые размеры:
                    p.press-slider-item-desc-item__text 2х2 м, 2,5х3 м, 3х4 м
                  .press-slider-item-desc-item
                    p.press-slider-item-desc-item__title Стоимость: 
                    p.press-slider-item-desc-item__text от 8000 руб
                  .press-slider-item-desc-item
                    p.press-slider-item-desc-item__title Срок изготовления
                    p.press-slider-item-desc-item__text от 1 дня
                a(href="#").general__btn.press-slider-item-desc__btn Рассчитать стоимость
            .press-slider-item
              .press-slider-item-img
                img(src="assets/images/believix.png", alt="")
              .press-slider-item-desc
                h6.press-slider-item-desc__name Беливикс
                .press-slider-item-desc-items
                  .press-slider-item-desc-item
                    p.press-slider-item-desc-item__title Типовые размеры:
                    p.press-slider-item-desc-item__text 2х2 м, 2,5х3 м, 3х4 м
                  .press-slider-item-desc-item
                    p.press-slider-item-desc-item__title Стоимость: 
                    p.press-slider-item-desc-item__text от 8000 руб
                  .press-slider-item-desc-item
                    p.press-slider-item-desc-item__title Срок изготовления
                    p.press-slider-item-desc-item__text от 1 дня
                a(href="#").general__btn.press-slider-item-desc__btn Рассчитать стоимость
            .press-slider-item
              .press-slider-item-img
                img(src="assets/images/press-slider.png", alt="")
              .press-slider-item-desc
                h6.press-slider-item-desc__name Энчантикс
                .press-slider-item-desc-items
                  .press-slider-item-desc-item
                    p.press-slider-item-desc-item__title Типовые размеры:
                    p.press-slider-item-desc-item__text 2х2 м, 2,5х3 м, 3х4 м
                  .press-slider-item-desc-item
                    p.press-slider-item-desc-item__title Стоимость: 
                    p.press-slider-item-desc-item__text от 8000 руб
                  .press-slider-item-desc-item
                    p.press-slider-item-desc-item__title Срок изготовления
                    p.press-slider-item-desc-item__text от 1 дня
                a(href="#").general__btn.press-slider-item-desc__btn Рассчитать стоимость
    include ../common/whyWe.pug
    .fourBlocks
      h4.fourBlocks__title Делаем дополнительную обработку пресс-воллов:
      .fourBlocks-wrap.fourBlocks-wrap_contain
        .fourBlocks-wrap-item
          .fourBlocks-wrap-item-img
            img(src="assets/images/koleso.png", alt="")
          p.fourBlocks-wrap-item__text Пресс волл на колёсиках
        .fourBlocks-wrap-item
          .fourBlocks-wrap-item-img
            img(src="assets/images/lampa.png", alt="")
          p.fourBlocks-wrap-item__text Подсветка
        .fourBlocks-wrap-item
          .fourBlocks-wrap-item-img
            img(src="assets/images/kluch.png", alt="")
          p.fourBlocks-wrap-item__text Фотозоны под ключ
        .fourBlocks-wrap-item
          .fourBlocks-wrap-item-img
            img(src="assets/images/dekor.png", alt="")
          p.fourBlocks-wrap-item__text Любой декор
    include ../common/ourWorks.pug
    .fourBlocks
      h4.fourBlocks__title Подходит для следующих мероприятий
      p.fourBlocks__text Основная их задача пресс-воллов — создать информационный рабочий фон. Отдельные секции позволяют отгородить место проведения мероприятия от городских пейзажей.
      .fourBlocks-wrap.fourBlocks-wrap_cover
        .fourBlocks-wrap-item
          .fourBlocks-wrap-item-img
            img(src="assets/images/car.png", alt="")
          p.fourBlocks-wrap-item__text Презентации автомобилей
        .fourBlocks-wrap-item
          .fourBlocks-wrap-item-img
            img(src="assets/images/zadnik.png", alt="")
          p.fourBlocks-wrap-item__text Задники бара
        .fourBlocks-wrap-item
          .fourBlocks-wrap-item-img
            img(src="assets/images/svadba.png", alt="")
          p.fourBlocks-wrap-item__text Свадебные фото зоны
        .fourBlocks-wrap-item
          .fourBlocks-wrap-item-img
            img(src="assets/images/theme.png", alt="")
          p.fourBlocks-wrap-item__text Тематические фото зоны
    include ../common/ourClients.pug
    include ../common/callOrder.pug