extends ../common/main.pug  
block title
  | Подиумы и сцены | ГК "Паруса"
block content
  section.items.scene
  - var banner__title = 'Подиумы и сцены'
  - var banner__text = ' Презентации автомобилей, имиджевые меропрятия, задники бара, свадебные фото зоны, тематические фото зоны'
  - var background__url = 'assets/images/scene.png'
    include ../common/itemBanner.pug
    include ../common/whyWe.pug
    .views
      h4.views__title Виды и варианты подсветки
      .views-wrap
        .views-wrap-item
          img(src="assets/images/car1.png", alt="")
          p.views-wrap-item__title Подсветка торцов
          p.views-wrap-item__text Подсветка выполняется с помощью специальных ламп, обеспечивающих лучшую подсветку автомобиля
          a(href="#").general__btn.views-wrap-item__btn Мне это нужно!
        .views-wrap-item
          img(src="assets/images/car2.png", alt="")
          p.views-wrap-item__title Подсветка под подиумом
          p.views-wrap-item__text Подсветка выполняется с помощью специальных ламп, обеспечивающих лучшую подсветку автомобиля
          a(href="#").general__btn.views-wrap-item__btn Мне это нужно!
    .fourBlocks 
      h4.fourBlocks__title Делаем дополнительную обработку подиумов:
      .fourBlocks-wrap.fourBlocks-wrap_contain
        .fourBlocks-wrap-item
          .fourBlocks-wrap-item-img
            img(src="assets/images/koleso.png", alt="")
          p.fourBlocks-wrap-item__text Пресс волл на колёсиках
        .fourBlocks-wrap-item
          .fourBlocks-wrap-item-img
            img(src="assets/images/lampa.png", alt="")
          p.fourBlocks-wrap-item__text Подсветка
        .fourBlocks-wrap-item
          .fourBlocks-wrap-item-img
            img(src="assets/images/kluch.png", alt="")
          p.fourBlocks-wrap-item__text Фотозоны под ключ
    include ../common/ourClients.pug
    include ../common/callOrder.pug