@import 'common/normalize';

html,
body{
	display: block;
	color: #000;
	margin: 0;
	font-family: 'Gilroy';
	position: relative;
}
body.compensate-for-scrollbar .header-top{
	padding-right: 37px;
}
body.overflow{
	overflow: hidden;
}
.wrapper {
  display: flex;
  min-height: 100vh;
	flex-direction: column;
	overflow-x: hidden;
	background-color: #F7FEFE;
}
.content {
	flex: 1;
	position: relative;
	margin-top: 60px;
}
.title{
	font-weight: bold;
	font-size: 36px;
	color: rgba(0, 0, 0, 0.75);
	max-width: 1440px;
	width: 100%;
	margin: 0 auto 60px;
	padding: 0 20px;
}
.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.75);
	z-index: 10;
	display: none;
}

@import 'common/adaptive';
@import 'common/datapicker';
@import 'common/fonts';
@import 'common/header';
@import 'common/footer';
@import 'pages/index';
@import 'pages/card';
@import 'pages/catalog';
@import 'pages/found';
@import 'pages/news';
@import 'pages/text';
@import 'pages/contacts';
@import 'pages/price';
@import 'pages/projects';